<div class="container">
    <div class="content-1 hide-mobile">
        <app-image (click)="scrollLeft()" class="arrow" img="arrow-back" width="8px" height="14px"></app-image>
        <div class="slider-content">
            <div class="sliders"  #carousel>
                <img *ngFor="let receipt of receipts" [src]="'/assets/img/' + receipt?.name + '.png'"/>
            </div>
        </div>
        <app-image (click)="scrollRight()" class="arrow" img="arrow-foward" width="8px" height="14px"></app-image>
    </div>

    <div class="content-2">
        <h2 class="subtitle s-color">Estes são alguns dos <span class="p-color">comprovantes que obtive com meus métodos:</span></h2>

        <div class="content-1 hide-desktop">
            <app-image (click)="scrollLeft()" class="arrow" img="arrow-back" width="8px" height="14px"></app-image>
            <div class="slider-content">
                <div class="sliders"  #carousel2>
                    <img *ngFor="let receipt of receipts" [src]="'/assets/img/' + receipt?.name + '.png'"/>
                </div>
            </div>
            <app-image (click)="scrollRight()" class="arrow" img="arrow-foward" width="8px" height="14px"></app-image>
        </div>

        <ul>
            <li class="text s-color">Quadras e quinas foram mais de 200 na Mega-Sena. </li>
            <li class="text s-color">Loteca 13 e 14 foram mais de 50. </li>
            <li class="text s-color">Lotofácil 14 pontos cinco vezes. </li>
            <li class="text s-color">Quina de São João, uma vez. </li>
            <li class="text s-color">Dupla Sena duas vezes a Quina e dezenas de quadras…</li>
        </ul>

       <a href="#plans">
            <button class="p-button">Assine o plano Pro agora mesmo!</button>
       </a>
    </div>
</div>
