.form {
  margin-top: 1.75rem;
}

.form-input-container {
  gap: 0.5rem;
  display: flex;
}

.footer-form {
  .footer-text {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1rem !important;
    font-weight: var(--bold-font-weight);
  }

  img {
    margin-top: 1rem;
    width: fit-content;
    align-self: center;
    margin-bottom: 1.25rem;
  }
}
