<header id="menu" [class.expanded]="expanded">
  <a class="logo-link" href="#">
    <img class="header-logo" src="/assets/images/logo-mega-comunidade.svg" alt="logo do mega sem segredo">
  </a>
  <div class="header-actions">
    <div class="header-actions-items">
      <a routerLink="/home" (click)="hiddenMenu()">Página inicial</a>

      <div class="promotion-menu">
        <a (click)="togglePromotionSubMenu($event)">Promoção</a>
        <div class="submenu" *ngIf="showPromotionSubMenu">
          <img class="submenu-image" src="/assets/images/em-breve.png">
          <a routerLink="/dupla-sena" (click)="hiddenMenu()">Dupla Sena de Páscoa</a>
          <a routerLink="/promotion-logged-result" (click)="hiddenMenu()"> Mega da Virada</a>
        </div>
      </div>

      <div class="h-credit-container">
        <span class="h-action">Créditos de transmissão:</span>
        <div class="h-credit-quantity">
          <img src="/assets/images/header/coin.png">
          <span class="h-action">{{ credits }}</span>
        </div>
      </div>
    </div>
    <div class="hamburger-menu" (click)="expanded = !expanded">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </div>
</header>
