<div class="bs-main">
    <app-header></app-header>
    <section class="bs-container">
        <div class="bs-content">
            <div class="bs-image-container">
                <img class="bs-image" src="/assets/images/bet-scorer.png" alt="Notebook com imagens de volantes marcados">
            </div>
            <div class="bs-info">
                <span class="bs-title text-secundary">Marcador Mega Sem Segredo</span>
                <span class="bs-text text-secundary">Conheça nossa extensão e descubra como marcar automaticamente suas apostas geradas pelo App Mega Sem Segredo diretamente do seu computador para o site da caixa!</span>
                <a href="https://chromewebstore.google.com/detail/mega-sem-segredo/ijppogbalaldgddhalhceomefpmjoajl" target="_blank"><button class="primary-button bs-button">Quero utilizar</button></a>
                <img class="bs-google-play" src="/assets/images/google-play-icon.png" alt="ícone do google play">
            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>
<section class="bs-container-mobile">
    <div class="bs-content">
        <span class="bs-title text-secundary">Marcador Mega Sem Segredo</span>
        <img class="bs-image" src="/assets/images/bet-scorer.png" alt="Notebook com imagens de volantes marcados">
        <span class="bs-footer-title text-secundary">Acesse no seu computador</span>
        <span class="bs-text text-secundary">Com o nosso marcador de apostas, você faz suas marcações de forma rápida e fácil, direto do seu computador:</span>
    </div>
</section>