section {
    display: flex;
    margin-top: 90px;
    justify-content: center;
    padding-top: 42px;
    background-color: #161C24;
    height: 90vh;

    .l-container {
        width: 406px;
        height: fit-content;
        outline: solid 1px #40AD1C;
        background-color: #151516;
        border-radius: 16px;
        padding: 34px 26px 40px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .l-title {
            margin-top: 10px;
            margin-bottom: 12px;
            font-weight: 400;
            font-size: 20px;
            line-height: 29px;
            color: white;
        }

        .form-input {
            width: 100%;
            display: flex;
            align-items: flex-end;
            flex-direction: column;

            .eye-password {
                cursor: pointer;
                position: absolute;
                margin-top: 28px;
                margin-right: 10px;
            }

            label {
                color: var(--white);
                font-size: 0.875rem;
                line-height: normal;
                align-self: flex-start;
                font-weight: var(--medium-font-weight);
            }
        
            input {
                width: 100%;
                outline: none;
                color: var(--black-2);
                border-radius: 0.625rem;
                background: var(--white);
                font-size: 16px;
                border: 2px solid rgba(0, 0, 0, 0.50);
                padding: 0.5rem 0rem 0.5rem 0.75rem;
            }
        }

        .l-button {
            width: 100%;
            margin-top: 16px;
            text-transform: none;
            font-size: 16px;
            font-weight: 500;
        }

        .l-separator {
            padding-left: 20px;
            padding-right: 20px;
            width: 100%;
            margin-top: 26px;
            margin-bottom: 26px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .l-line {
                width: 100%;
                height: 1px;
                border: 1px solid #e7e7e7;
            }

            .l-separator-text {
                margin-left: 34px;
                margin-right: 34px;
                font-weight: 600;
                font-size: 20px;
                line-height: 27px;
                color: white;
            }
        }

        .l-social-button {
            margin-bottom: 18px;
            width: 100%;
            padding: 8px 0;
            border-radius: 40px;
            text-transform: none;
            font-size: 16px;
        }

        .l-g-button {
            color: black;
            margin-top: -40px;
            background-color: white;
        }

        .l-f-button {
            color: white;
            background-color: #0000cd;
        }

        .l-forgot-password {
            margin-top: 12px;
            font-weight: 600;
            font-size: 20px;
            line-height: 25px;
            color: #40AD1C;
            align-self: flex-start;
            margin-bottom: 14px;
        }
    }
}

#google-signin-button {
    opacity: 0;
}