<div class="ut-container">
  <header>
    <a routerLink="#"><img src="/assets/images/logo-mega-comunidade.svg" alt="logo mega sem segredo"></a>
  </header>
  <section>
    <div class="ut-content">
      <span class="title text-secundary">Termos e Condições de Uso da Mega Comunidade</span>
    </div>
  </section>
  <section>
    <div class="ut-content">
      <div>
        <br><strong  class="small-text text-secundary">Prezado usuário,</strong><br><br>
        <p class="small-text text-secundary">
          Ao utilizar a plataforma Mega Comunidade, você concorda em cumprir os termos e condições aqui estabelecidos. 
          Leia atentamente este documento antes de utilizar nossos serviços.
        </p>

        <br><strong  class="small-text text-secundary">1. Introdução</strong><br><br>
        <p class="small-text text-secundary">
          A Mega Comunidade é uma plataforma digital que oferece ferramentas e serviços relacionados a jogos de loteria, 
          com foco na Mega-Sena. Ao utilizar a plataforma, você concorda em cumprir os termos e condições aqui estabelecidos, 
          bem como com as demais políticas da Mega Comunidade.
        </p>

        <br><strong class="small-text text-secundary">2. Serviços Oferecidos</strong><br><br>
        <p class="small-text text-secundary">
          A Mega Comunidade oferece os seguintes serviços:
        </p>

        <br><strong class="small-text text-secundary">Aplicativo Mega Sem Segredo</strong><br><br>
        <p class="small-text text-secundary">
          •	Geração de combinações: Ferramenta que utiliza matemática avançada para gerar combinações comprovadamente mais assertivas para a Mega-Sena <br>
          •	Estatísticas: Análise dos históricos dos sorteios.<br>
          •	Dicas: Sugestões e informações para otimizar suas combinações<br>
          •	Envio de volantes: Facilidade para enviar volantes preenchidos por e-mail.<br>
        </p>

        <br><strong class="small-text text-secundary">Extensão Marca Rápido</strong><br><br>
        
        <p class="small-text text-secundary">
          •	Transmissão para a Caixa: Integração com o site da Caixa Econômica Federal para transmissão e marcação automática de apostas, a partir de um computador.
        </p>

        <br><strong class="small-text text-secundary">Bolões</strong><br><br>
        <p class="small-text text-secundary">
          •	Participação em bolões coletivos (Exclusivo para assinantes Pro)
        </p>
       
        <br><strong class="small-text text-secundary">3. Condições de Uso</strong><br><br>
        <p class="small-text text-secundary">
          •	Cadastro: Para utilizar alguns serviços da plataforma, é necessário realizar um cadastro, fornecendo informações precisas e atualizadas. <br>
          •	Pagamento: Para o Plano Pro e compra de Créditos, o usuário deverá fornecer os dados de pagamento solicitados.<br>
          •	Responsabilidade do Usuário: O usuário é responsável por manter a confidencialidade de seus dados de acesso e por todas as atividades realizadas em sua conta.<br>
          •	Proibição de Uso Indevido: É proibido utilizar a plataforma para fins ilegais, fraudulentos ou que violem os direitos de terceiros. <br>     
        </p>
        
        <br><strong class="small-text text-secundary">3.1 Responsabilidade do Usuário:</strong><br><br>
        <p class="small-text text-secundary">
          O usuário é responsável por manter a confidencialidade de seus dados de acesso e por todas as atividades realizadas em sua conta.
        </p>

        <br><strong class="small-text text-secundary">3.2 Restrição de Uso em Múltiplos Dispositivos:</strong><br><br>
        <p class="small-text text-secundary">
          O uso da plataforma é restrito a um único dispositivo por conta de usuário. 
          Caso o usuário suspeite de acesso não autorizado à sua conta ou tenha perdido ou sofrido o roubo do dispositivo, 
          deverá imediatamente notificar o suporte técnico da Mega Comunidade para que as medidas cabíveis sejam tomadas, 
          incluindo o bloqueio do acesso à conta e a exclusão do dispositivo cadastrado.
        </p>

        <br><strong class="small-text text-secundary">3.3 Limitação de Responsabilidade: </strong><br><br>
        <p class="small-text text-secundary">
          A Mega Comunidade não se responsabiliza por quaisquer danos causados pelo uso da plataforma ou por informações nela contidas.
        </p>

        <br><strong class="small-text text-secundary">3.4	Alteração dos Termos: </strong><br><br>
        <p class="small-text text-secundary">
          A Mega Comunidade se reserva o direito de alterar os termos e condições a qualquer momento.
        </p>

        <br><strong class="small-text text-secundary">4. Planos e opções de utilização da Plataforma</strong><br><br>
        <br><strong class="small-text text-secundary">PLANO GRÁTIS </strong><br><br>
        <p class="small-text text-secundary">
          •	Geração de quantas combinações quiser, desde que sejam cinco por vez e não acumule mais de 50 no aplicativo. <br>
          •	Dicas e estatísticas <br>
          •	Geração de PDF das suas apostas <br>
        </p>

        <br><strong class="small-text text-secundary">PLANO PRO</strong><br><br>
        <p class="small-text text-secundary">
          •	Geração ilimitada de combinações <br>
          •	Armazenamento de ate 10 mil combinações no App <br>
          •	Dicas <br>
          •	Estatísticas <br>
          •	Gerar PDF das combinações <br>
          •	Envio de volantes preenchidos por e-mail <br>
          •	Transmissão automática para o site da Caixa, até 1.000 combinações por mês, via Marca Rápido <br>
          •	Participação na Promoção da Virada – Bolão de R$ 1.000,00 para cada grupo 100 assinantes concorrerem ao prêmio milionário de R$ 600 milhões (estimativa) na Mega da Virada. <br>
        </p>

        <br><strong class="small-text text-secundary">COMPRA DE CRÉDITO (mínimo de R$ 25,00/30 dias)</strong><br><br>
        <p class="small-text text-secundary">
          •	Geração ilimitada de combinações, sem ultrapassar 200 por vez; <br>
          •	Armazenamento de até 10 mil combinações no App, por 30 dias.. <br>
          •	Dicas <br>
          •	Estatísticas <br>
          •	Gerar PDF das combinações <br>
          •	Permite o envio de volantes preenchidos por e-mail <br>
          •	Transmissão das apostas para o site da Caixa, até 100 combinações. <br>
        </p>
        <br>
        <p class="small-text text-secundary">
          Os benefícios relacionados à compra de credito, exceto a transmissão das apostas para o site da Caixa, terão prazos proporcionais ao valor do crédito.
          Por exemplo, adquirindo R$ 75,00 (setenta e cinco reais) – três vezes o valor mínimo - de crédito o usuário terá direito a todos os benefícios por um período 
          de 90 dias (três vezes o prazo mínimo), exceto a transmissão de apostas para o site da Caixa. No que refere a transmissão, dará direito a transmitir 300 apostas 
          para o site da Caixa (três vezes a quantidade mínima).
        </p>

        <br><strong class="small-text text-secundary">5. Limitação de Responsabilidade </strong><br><br>
        <p class="small-text text-secundary">
          A Mega Comunidade não se responsabiliza por quaisquer danos causados pelo uso da plataforma ou por informações nela contidas.
        </p>

        <br><strong class="small-text text-secundary">5.1. Transmissão de Apostas: </strong><br><br>
        <p class="small-text text-secundary">
          A Mega Comunidade não se responsabiliza por falhas na transmissão das apostas para a Caixa Econômica Federal decorrentes de fatores externos à plataforma. 
          Por exemplo: queda de energia, indisponibilidade dos serviços de internet indisponibilidade nos sites relacionados, etc. Ao autorizar a transmissão, 
          o usuário autoriza a dedução imediata dos créditos em seu saldo e reconhece que, em caso de falhas externas à Plataforma, 
          o envio é considerado realizado e não haverá reembolso dos referidos créditos. 
        </p>

        <br><strong class="small-text text-secundary">6. Propriedade Intelectual</strong><br><br>
        <p class="small-text text-secundary">
          Todos os conteúdos da plataforma, incluindo textos, imagens, 
          Qualquer disputa decorrente deste contrato será submetida ao foro da comarca de Teresina, Piauí. 
          Logotipos, extensões e softwares, são propriedade da Mega Comunidade e estão protegidos por leis de direitos autorais.
        </p>

        <br><strong class="small-text text-secundary">7. Política de Privacidade</strong><br><br>
        <p class="small-text text-secundary">
          As informações coletadas dos usuários serão tratadas de acordo com a nossa Política de Privacidade, que pode ser consultada em 
          <a href="https://megacomunidade.com.br/#/privacy-policy">https://megacomunidade.com.br/#/privacy-policy</a>
        </p>

        <br><strong class="small-text text-secundary">8. Contato</strong><br><br>
        <p class="small-text text-secundary">
          Para entrar em contato conosco, utilize o seguinte endereço de e-mail: contato@megacomunidade.com.br
        </p>


        <br><strong class="small-text text-secundary">Ao utilizar a plataforma Mega Comunidade, você declara ter lido, compreendido e concordado com todos os termos e condições aqui estabelecidos.</strong><br><br>
      
        <strong class="small-text text-secundary">Atenciosamente,</strong><br><br>

        <strong class="small-text text-secundary">Equipe Mega Comunidade</strong><br><br>
      </div>
    </div>
  </section>
  <footer>
    <div class="ut-content">
      <button class="primary-button" (click)="goBack()">Voltar</button>
    </div>
  </footer>
</div>