<div class="ut-container">
  <header>
    <a routerLink="#"><img src="/assets/images/logo-mega-comunidade.svg" alt="logo mega sem segredo"></a>
  </header>
  <section>
    <div class="ut-content">
      <span class="title text-secundary">Termos de Uso</span>
    </div>
  </section>
  <section>
    <div class="ut-content">
      <div >
        <p class="small-text text-secundary">
        Seja bem-vindo(a) aos nossos Termos e Condições de Uso. Eles são bastante
        importantes e afetam diretamente seus direitos legais, assim como nossa Política de
        Privacidade e os outros termos mencionados neste documento, por isso, leia todos
        atentamente. <br>
        O aplicativo MEGA SEM SEGREDO é um gerador de apostas da Mega-Sena
        desenvolvido pela MEGA COMUNIDADE com dois grandes diferenciais. O primeiro é
        que não se tratam de combinações aleatórias e, sim, de jogos elaborados sob
        fundamentos matemáticos amplamente estudados. O segundo diferencial é
        disponibilizar os volantes já preenchidos o fim do cansativo e tedioso trabalho de marcar
        centenas ou milhares de cartões da Mega-Sena. O Aplicativo também traz estatísticas
        dos jogos, histórico de resultados e dicas para os apostadores.<br>
        A MEGA COMUNIDADE, inscrita sob o CNPJ nº 52.561.540/0001-48 é uma pessoa
        jurídica de direito privado, empresa regularmente constituída que se dedica ao ramo de
        loterias e promove geração de apostas otimizadas para a Mega-Sena. A MEGA
        COMUNIDADE é uma comunidade cuja missão é democratizar a sorte, contribuindo
        para que os prêmios da Mega-Sena sejam distribuídos para um número maior de
        apostadores, acumulando cada vez menos e contemplando cada vez mais pessoas.<br>
        Através do aplicativo MEGA SEM SEGREDO a MEGA COMUNIDADE desenvolveu um
        conceito de apostas otimizadas para a Mega-Sena, que tem como base os estudos
        constantes do livro Loteria Sem Segredo: A Matemática Explica (Volume 1: Mega-Sena).
        O aplicativo MEGA SEM SEGREDO utiliza a Matemática e a Tecnologia para reduzir os
        custos das apostas e, ao mesmo tempo, torná-las mais assertivas.<br>
        O aplicativo MEGA SEM SEGREDO é um aplicativo voltado para usuários (apostadores)
        de smartphone com sistema/plataforma Android e IOS, por meio do qual tais usuários
        poderão elaborar jogos da Mega-Sena com maiores chances de acerto e, de bônus, ter
        seus volantes preenchidos automaticamente, podendo ser enviados por e-mail. Trata-se
        de uma ferramenta revolucionária que tem como uma de suas premissas a economia de
        recursos – inclusive tempo e dinheiro.
        </p>

        <br><strong  class="small-text text-secundary">Como funciona o Aplicativo MEGA SEM SEGREDO:</strong><br><br>
        <p class="small-text text-secundary">
        - Para o Usuário/Assinante - é necessário que o mesmo possua um smartphone Android
        ou IOS com acesso à internet e faça download do aplicativo MEGA SEM SEGREDO na
        Google Play (Play Store) ou Apple Store. Após a instalação, o Usuário deve abrir o
        aplicativo MEGA SEM SEGREDO, efetuar cadastro fornecendo as informações
        solicitadas e, após concordar com os termos e condições de uso, estará apto a utilizar
        as funcionalidades que o aplicativo oferece.
        </p>

        <br><strong class="small-text text-secundary">Cadastro</strong><br><br>
        <p class="small-text text-secundary">
        Ao instalar e se cadastrar no aplicativo MEGA SEM SEGREDO, o usuário concorda em
        fornecer algumas informações pessoais, tais como CPF e e-mail e um método de
        pagamento válido (cartão de crédito/PIX), ciente que tais dados de registro poderão ser
        armazenados e utilizados pela MEGA COMUNIDADE para a manutenção e faturamento
        de valores para a conta do assinante – e também para que recebam eventuais
        benefícios, atualizações e novidades, em conformidade com a Lei Geral de Proteção de
        Dados – LGPD. Os assinantes/usuários do aplicativo MEGA SEM SEGREDO deverão
        manter seus dados sempre atualizados. 
        </p>

        <br><strong class="small-text text-secundary">Compromisso do Usuário </strong><br><br>
        <p class="small-text text-secundary">
        O usuário compromete-se a fazer uso adequado dos conteúdos e da informação que a
        MEGA COMUNIDADE oferece no aplicativo MEGA SEM SEGREDO e com caráter
        enunciativo, mas não limitativo:
        </p>
        <br>
        <ul class="ut-padding small-text text-secundary">
            <li> A) Não se envolver em atividades que sejam ilegais ou contrárias à boa fé a à
            ordem pública;
            </li>
            <li>
            B) Não difundir propaganda ou conteúdo de natureza racista, xenofóbica,
            qualquer tipo de pornografia, de apologia ao terrorismo ou contra os direitos
            humanos;
            </li>
            <li>
            C) Não causar danos aos sistemas físicos (hardwares) e lógicos (softwares) do
            MEGA SEM SEGREDO, de seus fornecedores ou terceiros, para introduzir ou
            disseminar vírus informáticos ou quaisquer outros sistemas de hardware ou
            software que sejam capazes de causar danos anteriormente mencionados.
            </li>
        </ul><br>
        <p class="small-text text-secundary">
        Ao acessar o aplicativo MEGA SEM SEGREDO, o usuário concorda em cumprir estes
        termos de serviço, todas as leis e regulamentos aplicáveis e concorda que é
        responsável pelo cumprimento de todas as leis locais aplicáveis. Se você não concordar
        com algum desses termos, não poderá fazer uso deste aplicativo. Os materiais contidos
        neste aplicativo são protegidos pelas leis de direitos autorais e marcas comerciais
        aplicáveis.
        </p>

        <br><strong class="small-text text-secundary">Licença </strong><br><br>
        <p class="small-text text-secundary">
        Exceto em casos nos quais se indique o contrário, A MEGA COMUNIDADE, o aplicativo
        MEGA SEM SEGREDO e seus licenciados têm direito à propriedade intelectual de todo
        o material disponibilizado no MEGA SEM SEGREDO. Esta é a concessão de uma
        licença, não uma transferência de título e, sob esta licença, você não pode:
        </p><br>
        <ul class="ut-padding small-text text-secundary">
            <li>
                1. modificar ou copiar os materiais;
            </li>
            <li>
                2. usar os materiais para qualquer finalidade comercial ou para exibição pública
                (comercial ou não comercial);
            </li>
            <li>
                3. tentar descompilar ou fazer engenharia reversa de qualquer software contido no
                aplicativo MEGA SEM SEGREDO;
            </li>
            <li>
                4. remover quaisquer direitos autorais ou outras anotações de propriedade dos
                materiais; ou
            </li>
            <li>
                5. transferir os materiais para outra pessoa ou 'espelhar' os materiais em qualquer
                outro servidor. 
            </li>
        </ul><br>
        <p class="small-text text-secundary">
        Esta licença será automaticamente rescindida pela MEGA COMUNIDADE a qualquer
        momento, se você violar alguma das restrições acima. 
        </p>
        
        <br><strong class="small-text text-secundary">Isenção de responsabilidade </strong><br><br>
        <p class="small-text text-secundary">
        Em nenhum caso a MEGA COMUNIDADE ou seus fornecedores serão responsáveis
        por quaisquer danos - incluindo, sem limitação, danos por perda de dados ou lucro ou
        devido a interrupção dos negócios - decorrentes do uso ou da incapacidade de usar os
        materiais e ferramentas do aplicativo MEGA SEM SEGREDO, mesmo que a MEGA
        COMUNIDADE ou um representante autorizado tenha sido notificado oralmente ou por
        escrito da possibilidade de tais danos. Como algumas jurisdições não permitem
        limitações em garantias implícitas, ou limitações de responsabilidade por danos
        consequentes ou incidentais, essas limitações podem não se aplicar a você.
        </p>

        <br><strong class="small-text text-secundary">Links</strong><br><br>
        <p class="small-text text-secundary">
        A inclusão de qualquer link não implica endosso por MEGA COMUNIDADE do
        aplicativo. O uso de qualquer aplicativo vinculado é por conta e risco do usuário.
        </p>

        <br><strong class="small-text text-secundary">Assinaturas e Renovações. </strong><br><br>
        <p class="small-text text-secundary">
        No MEGA SEM SEGREDO você pode fazer uma assinatura anual, com pagamento
        através do cartão de crédito, parcelado mensalmente, no valor de R$ 20 (Vinte Reais)
        ou, pagamento anual em parcela única, no valor promocional de R$ 180 (Cento e
        Oitenta Reais), à vista, através de PIX. Sua assinatura será renovada automaticamente.
        Você pode cancelar sua assinatura a qualquer momento. Em caso de cancelamento,
        não haverá reembolso de valores já cobrados. <br>
        Após a anuência dos termos e recebimento das 1000 combinações geradas pelo
        aplicativo MEGA SEM SEGREDO, todas as funcionalidades estarão à disposição do
        usuário, sabendo que a primeira cobrança só será efetivada quando houver acerto(s) de
        quadra, quina ou sena nos sorteios oficiais da Mega-Sena, dentre as combinações
        fornecidas, tendo o usuário realizado ou não as apostas. 
        </p>

        <br><strong class="small-text text-secundary">Modificações/atualizações </strong><br><br>
        <p class="small-text text-secundary">
        O MEGA SEM SEGREDO pode revisar estes termos de serviço do aplicativo a qualquer
        momento, sem aviso prévio. Ao usar este aplicativo, você concorda em ficar vinculado à
        versão atual desses termos de serviço. 
        </p>

        <br><strong class="small-text text-secundary">Lei aplicável </strong><br><br>
        <p class="small-text text-secundary">
        Estes termos e condições são regidos e interpretados de acordo com as regras da
        MEGA COMUNIDADE, estando o usuário/assinante sujeito à jurisdição exclusiva dos
        tribunais deste estado ou localidade. <br><br>
        Teresina - PI, 15 de dezembro de 2023. 
        </p>
      </div>
    </div>
  </section>
  <footer>
    <div class="ut-content">
      <button class="primary-button" (click)="goBack()">Voltar</button>
    </div>
  </footer>
</div>