<app-header></app-header>
<section>
    <h2 class="ch-title text-secundary">Confira os <span class="text-primary">acertos</span> da Mega Comunidade</h2>
    <div class="ch-search">
        <span class="ch-search-title text-secundary">Concurso</span>
        <div class="ch-search-actions">
            <input mask="00000">
            <button>
                <img src="/assets/icons/search.svg" alt="ícone de lupa">
            </button>
        </div>
    </div>
    <div class="ch-cards">
        <div class="ch-card">
            <div class="ch-card-header">
                <span class="ch-card-header-title text-secundary">Concurso 2687 (10/02/24)</span>
                <img class="ch-card-header-download" src="/assets/icons/download.svg" alt="ícone de download">
            </div>
            <div class="ch-card-items">
                <div class="ch-card-item">
                    <span class="ch-card-item-number text-secundary">02</span>
                </div>
                <div class="ch-card-item">
                    <span class="ch-card-item-number text-secundary">04</span>
                </div>
                <div class="ch-card-item">
                    <span class="ch-card-item-number text-secundary">24</span>
                </div>
                <div class="ch-card-item">
                    <span class="ch-card-item-number text-secundary">30</span>
                </div>
                <div class="ch-card-item">
                    <span class="ch-card-item-number text-secundary">34</span>
                </div>
                <div class="ch-card-item">
                    <span class="ch-card-item-number text-secundary">50</span>
                </div>
            </div>
        </div>
        <div class="ch-card">
            <div class="ch-card-header">
                <span class="ch-card-header-title text-secundary">Concurso 2687 (10/02/24)</span>
                <img class="ch-card-header-download" src="/assets/icons/download.svg" alt="ícone de download">
            </div>
            <div class="ch-card-items">
                <div class="ch-card-item">
                    <span class="ch-card-item-number text-secundary">02</span>
                </div>
                <div class="ch-card-item">
                    <span class="ch-card-item-number text-secundary">04</span>
                </div>
                <div class="ch-card-item">
                    <span class="ch-card-item-number text-secundary">24</span>
                </div>
                <div class="ch-card-item">
                    <span class="ch-card-item-number text-secundary">30</span>
                </div>
                <div class="ch-card-item">
                    <span class="ch-card-item-number text-secundary">34</span>
                </div>
                <div class="ch-card-item">
                    <span class="ch-card-item-number text-secundary">50</span>
                </div>
            </div>
        </div>
        <div class="ch-card">
            <div class="ch-card-header">
                <span class="ch-card-header-title text-secundary">Concurso 2687 (10/02/24)</span>
                <img class="ch-card-header-download" src="/assets/icons/download.svg" alt="ícone de download">
            </div>
            <div class="ch-card-items">
                <div class="ch-card-item">
                    <span class="ch-card-item-number text-secundary">02</span>
                </div>
                <div class="ch-card-item">
                    <span class="ch-card-item-number text-secundary">04</span>
                </div>
                <div class="ch-card-item">
                    <span class="ch-card-item-number text-secundary">24</span>
                </div>
                <div class="ch-card-item">
                    <span class="ch-card-item-number text-secundary">30</span>
                </div>
                <div class="ch-card-item">
                    <span class="ch-card-item-number text-secundary">34</span>
                </div>
                <div class="ch-card-item">
                    <span class="ch-card-item-number text-secundary">50</span>
                </div>
            </div>
        </div>
        <div class="ch-card">
            <div class="ch-card-header">
                <span class="ch-card-header-title text-secundary">Concurso 2687 (10/02/24)</span>
                <img class="ch-card-header-download" src="/assets/icons/download.svg" alt="ícone de download">
            </div>
            <div class="ch-card-items">
                <div class="ch-card-item">
                    <span class="ch-card-item-number text-secundary">02</span>
                </div>
                <div class="ch-card-item">
                    <span class="ch-card-item-number text-secundary">04</span>
                </div>
                <div class="ch-card-item">
                    <span class="ch-card-item-number text-secundary">24</span>
                </div>
                <div class="ch-card-item">
                    <span class="ch-card-item-number text-secundary">30</span>
                </div>
                <div class="ch-card-item">
                    <span class="ch-card-item-number text-secundary">34</span>
                </div>
                <div class="ch-card-item">
                    <span class="ch-card-item-number text-secundary">50</span>
                </div>
            </div>
        </div>
        <div class="ch-card">
            <div class="ch-card-header">
                <span class="ch-card-header-title text-secundary">Concurso 2687 (10/02/24)</span>
                <img class="ch-card-header-download" src="/assets/icons/download.svg" alt="ícone de download">
            </div>
            <div class="ch-card-items">
                <div class="ch-card-item">
                    <span class="ch-card-item-number text-secundary">02</span>
                </div>
                <div class="ch-card-item">
                    <span class="ch-card-item-number text-secundary">04</span>
                </div>
                <div class="ch-card-item">
                    <span class="ch-card-item-number text-secundary">24</span>
                </div>
                <div class="ch-card-item">
                    <span class="ch-card-item-number text-secundary">30</span>
                </div>
                <div class="ch-card-item">
                    <span class="ch-card-item-number text-secundary">34</span>
                </div>
                <div class="ch-card-item">
                    <span class="ch-card-item-number text-secundary">50</span>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>