<div class="success-container">
  <img class="success-gif" src="/assets/images/success.gif" alt="animação de sucesso">
  <div class="content-info-title">
    <span class="title text-secundary">Parabéns! Você deu um grande passo para </span>
    <span class="title text-primary">acertar na Mega-Sena!</span>
  </div>
  <span class="text text-secundary">Ao clicar no botão encaminharemos você para o nosso WhatsApp, onde enviaremos o link para download</span>
  <a href="https://api.whatsapp.com/send/?phone=86994202732&text&type=phone_number&app_absent=0"><button class="primary-button">Quero baixar o app</button></a>
</div>
