<div class="s-container">
  <header>
    <a routerLink="#"><img src="/assets/images/logo.png" alt="logo mega sem segredo"></a>
  </header>
  <section>
    <div class="success-container">
      <img class="success-gif" src="/assets/images/success.gif" alt="animação de sucesso">
      <div class="content-info-title">
        <span class="title text-secundary">Parabéns! Você deu um grande passo para </span>
        <span class="title text-primary">acertar na Mega-Sena!</span>
      </div>
      <span class="text text-secundary">{{ subtitle }}</span>
      <a [href]="link"><button class="primary-button s-button">{{ buttonText }}</button></a>
    </div>
  </section>
</div>
