.l-container {
    height: 100%;
    min-height: calc(100vh - 60px);
    background-color: #161C24;

    .l-content {
        width: 100%;
        margin-top: 60px;
        padding-top: 80px;
        padding: 80px 2rem 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;

        .l-body {
            max-width: 1124px;
            width: 100%;
        }

        .l-body-content {
            display: flex;
            justify-content: space-between;
        }

        .l-title-container {
            border-radius: 8px;
            margin-bottom: 21px;
        }

        .l-title {
            font-weight: 600;
        }

        .body-text {
            font-size: 32px;
            font-weight: 400;
        }

        .l-box {
            width: 100%;
            display: flex;
            max-width: 423px;
            margin-top: 15px;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            .s-clear-button {
                background-color: transparent;
                padding: 0;
                font-size: 18px;
                line-height: 25px;
                font-weight: 600;
                margin-top: 10px;
                color: var(--primary);
            }

            .card {
                width: 100%;
                height: 433px;
                display: flex;
                border-radius: 16px;
                align-items: center;
                flex-direction: column;
                padding: 24px 68px 25px;
                background-color: #263238;

                .card-title {
                    font-size: 18px;
                    font-weight: 600;
                }

                .numbers {
                    gap: 12px;
                    display: flex;
                    flex-wrap: wrap;
                    margin-top: 30px;

                    .number {
                        width: 46px;
                        height: 46px;
                        color: white;
                        display: flex;
                        cursor: pointer;
                        font-size: 20px;
                        font-weight: 800;
                        user-select: none;
                        border-radius: 50%;
                        align-items: center;
                        justify-content: center;
                        background-color: #455A64;
                    }

                    .selected-number {
                        background-color: #A7348B;
                    }
                }
            }

            .primary-button {
                width: 100%;
                margin-top: 20px;
                max-width: 314px;
            }

            .back-button {
                font-size: 20px;
                font-weight: 600;
                margin-top: 20px;
            }
        }

        .box-concourse {
            .card {
                gap: 16px;
                height: 169px;
                display: flex;
                flex-direction: row;
                padding-left: 25px;
                padding-right: 25px;

                .form-input {
                    width: 92px;

                    input {
                        text-align: center;
                    }
                }
            }
        }
    }
}

.dozens-selected {
  gap: 12px;
  width: 100%;
  display: flex;
  border-radius: 16px;
  flex-direction: column;
  background-color: #263238;
  padding: 16px 22px 20px 16px;
  margin-bottom: 20px;

  .card-title {
      font-weight: 600;
  }

  .numbers {
      gap: 12px;
      display: flex;
      justify-content: center;

      .number {
          width: 46px;
          height: 46px;
          display: flex;
          font-size: 20px;
          font-weight: 800;
          border-radius: 50%;
          align-items: center;
          justify-content: center;
          background-color: #A7348B;
      }
  }
}

@media(max-width: 1060px) {
    .l-body-content {
        gap: 30px;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;

        .l-card-container {
            align-items: center;
            display: flex;
            flex-direction: column;
            width: 100%;

            .primary-button {
                max-width: 100% !important;
            }
        }
    }
}

@media(max-width: 965px) {
    .l-container {
        padding-bottom: 2rem;
    }

    .l-box {
        max-width: 100% !important;
    }

    .card {
        height: auto !important;
        padding-left: 24px !important;
        padding-right: 24px !important;
    }

    .numbers {
      flex-wrap: wrap;
    }
}
