<app-header></app-header>

<div class="ip-container">
    <section>
        <div class="ip1-container">
            <div class="ip-col ip1-col-1">
                <span class="ip-title">Bem-vindo</span>
                <a routerLink="/profile">
                  <div class="ip-card">
                    <img src="/assets/images/initial-page/user.png">
                    <span class="ip1-card-text">Kely Morita</span>
                </div>
                </a>
            </div>
            <div class="ip-col ip1-col-2">
                <span class="ip-title">Crédito</span>
                <div class="ip-card">
                    <img src="/assets/images/initial-page/coin.png">
                    <span class="ip1-card-text">R$ 0,00</span>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="ip2-container">
            <div class="ip-col">
                <span class="ip-title">Resultado Mega-Sena / Concurso 2774 (14/09/24)</span>
                <div class="ip-card">
                    <div class="ip-card-numbers">
                        <div class="ip-card-number">06</div>
                        <div class="ip-card-number">16</div>
                        <div class="ip-card-number">22</div>
                        <div class="ip-card-number">24</div>
                        <div class="ip-card-number">38</div>
                        <div class="ip-card-number">50</div>
                    </div>
                    <span class="ip-card-text">Acumulada próximo concurso: <strong>R$ 82.000.000,00</strong></span>
                </div>
            </div>
        </div>
    </section>

    <section *ngIf="hasPlan">
        <div class="ip3-container">
            <img src="/assets//images/initial-page/notebook.png">
            <div class="ip3-content">
                <span class="ip3-title">Marca Rápido</span>
                <span class="ip3-subtitle">Mega Sem Segredo</span>
                <span class="ip3-text">
                    Conheça nossa extensão e descubra como marcar automaticamente suas apostas geradas pelo App Mega Sem Segredo diretamente do seu computador para o site da caixa!
                </span>
                <div class="ip3-actions">
                    <a href="https://chromewebstore.google.com/detail/mega-sem-segredo/ijppogbalaldgddhalhceomefpmjoajl" target="_blank"><button class="primary-button ip3-button">Utilizar</button></a>
                    <a href="#" class="ip3-tutorial">
                        <img src="/assets/images/initial-page/play.png">
                        Assista o tutorial
                    </a>
                </div>
                <div class="ip3-social">
                    <img src="/assets/images/google-play.png">
                    <img src="/assets/images/app-store.png">
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="ip4-container">
            <div class="ip-card">
                <div class="ip4-card-box">
                    <span class="ip4-box-text">{{ hasPlan ? '1000' : '5' }} combinações disponíveis</span>
                </div>
                <img class="ip4-phones" src="/assets/images/initial-page/phones.png">
                <div class="ip4-card-info">
                    <span class="ip4-title">Mega Sem Segredo</span>
                    <span class="ip4-text">Use o aplicativo Mega Sem Segredo e descubra como aumentar suas chances de ganhar!</span>
                    <div class="ip3-actions">
                        <a href="https://chromewebstore.google.com/detail/mega-sem-segredo/ijppogbalaldgddhalhceomefpmjoajl" target="_blank"><button class="primary-button ip3-button">Utilizar</button></a>
                        <a href="#" class="ip3-tutorial">
                            <img src="/assets/images/initial-page/play.png">
                            Assista o tutorial
                        </a>
                    </div>
                    <div class="ip3-social">
                        <img src="/assets/images/google-play.png">
                        <img src="/assets/images/app-store.png">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="ip5-container">
            <span class="ip5-title">{{ hasPlan ? 'Potencialize seu plano' : 'Nossos planos' }}</span>
            <div class="hc4-cards">
              <div class="hc4-card large-card">
                <div>
                  <div class="hc4-card-title-content">
                    <span class="hc4-card-title">Plano Grátis</span>
                  </div>
                  <div class="hc4-card-value-content">
                    <span class="hc4-card-value">R$0</span>
                  </div>
                  <div class="hc4-benefits">
                    <div class="hc4-benefits-item">
                      <img src="/assets/icons/check.svg">
                      <span class="hc4-text">Geração de até <strong>50</strong> combinações  por mês no App Mega Sem Segredo</span>
                    </div>
                    <div class="hc4-benefits-item">
                      <img src="/assets/icons/check.svg">
                      <span class="hc4-text">Geração de PDF das combinações</span>
                    </div>
                    <div class="hc4-benefits-item">
                      <img src="/assets/icons/check.svg">
                      <span class="hc4-text">Dicas e estatísticas </span>
                    </div>
                  </div>
                </div>
                <button class="primary-button hc4-button" [disabled]="true">Seu plano atual</button>
              </div>
              <div class="hc4-card large-card">
                <div>
                  <div class="hc4-card-title-content">
                    <span class="hc4-card-title">Premium</span>
                    <div class="hc4-card-title-box">
                      <img src="/assets/icons/star.svg">
                      <span class="hc4-card-box-text">Popular</span>
                    </div>
                  </div>
                  <div class="hc4-card-value-content">
                    <span class="hc4-card-value-info">12x</span>
                    <span class="hc4-card-value">R$20</span>
                    <span class="hc4-card-value-info">/ Mês ou R$120 no pix</span>
                  </div>
                  <div class="hc4-benefits">
                    <div class="hc4-benefits-item">
                      <img src="/assets/icons/check.svg">
                      <span class="hc4-text">Geração de até <strong>10.000 </strong> combinações  no App Mega Sem Segredo</span>
                    </div>
                    <div class="hc4-benefits-item">
                      <img src="/assets/icons/check.svg">
                      <span class="hc4-text">Geração de PDF das combinações</span>
                    </div>
                    <div class="hc4-benefits-item">
                      <img src="/assets/icons/check.svg">
                      <span class="hc4-text">Dicas e estatísticas </span>
                    </div>
                  </div>
                </div>
                <a class="hc4-link" routerLink="/payment-methods"><button class="primary-button hc4-button">Assinar</button></a>
              </div>
              <div class="hc4-card medium-card">
                <div>
                  <div class="hc4-card-title-content">
                    <span class="hc4-card-title">Compra de créditos</span>
                  </div>
                  <div class="hc4-card-value-content">
                    <span class="hc4-card-value">R$15</span>
                    <span class="hc4-card-value-info">/ Valor mínimo </span>
                  </div>
                  <div class="hc4-benefits">
                    <div class="hc4-benefits-item">
                      <img src="/assets/icons/check.svg">
                      <span class="hc4-text">A cada R$15  dará direito as geração de 10.000 combinações por mês no app Mega Sem Segredo</span>
                    </div>
                    <div class="hc4-benefits-item">
                      <img src="/assets/icons/check.svg">
                      <span class="hc4-text">Envio do volantes gerados por email</span>
                    </div>
                  </div>
                </div>
                <a class="hc4-link" routerLink="/buy-credit"><button class="primary-button hc4-button">Comprar</button></a>
              </div>
            </div>
        </div>
    </section>
</div>

<app-footer></app-footer>
