<app-header-logged></app-header-logged>

<div class="ip-container">
    <section>
        <div class="ip1-container">
            <div class="ip-col ip1-col-1">
                <span class="ip-title">Bem-vindo</span>
                <a routerLink="/profile">
                  <div class="ip-card">
                    <img src="/assets/images/initial-page/user.png">
                    <span class="ip1-card-text">{{ user?.user?.name }}</span>
                </div>
                </a>
            </div>
            <div class="ip-col ip1-col-2">
                <span class="ip-title">Crédito</span>
                <div class="ip-card">
                    <img src="/assets/images/initial-page/coin.png">
                    <span class="ip1-card-text">{{ credits }}</span>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="ip2-container">
            <div class="ip-col">
                <span class="ip-title">Resultado Mega-Sena / Concurso {{ lastResults[0]?.concurso || '0000' }} ({{ lastResults[0]?.data_sorteio | date: 'dd/MM/yy' }})</span>
                <div class="ip-card">
                    <div class="ip-card-numbers">
                        <div class="ip-card-number">{{ lastResults[0]?.num_sorteio1_1 }}</div>
                        <div class="ip-card-number">{{ lastResults[0]?.num_sorteio1_2 }}</div>
                        <div class="ip-card-number">{{ lastResults[0]?.num_sorteio1_3 }}</div>
                        <div class="ip-card-number">{{ lastResults[0]?.num_sorteio1_4 }}</div>
                        <div class="ip-card-number">{{ lastResults[0]?.num_sorteio1_5 }}</div>
                        <div class="ip-card-number">{{ lastResults[0]?.num_sorteio1_6 }}</div>
                    </div>
                    <span class="ip-card-text">Estimativa para próximo concurso: <strong>R$ {{ (lastResults[0]?.estimativa_premio || '0,00')  }}</strong></span>
                </div>
            </div>
        </div>
    </section>

    <section *ngIf="hasPlan">
        <div class="ip3-container">
            <img class="notebook-image" src="/assets//images/initial-page/notebook.png">
            <div class="ip3-content">
                <span class="ip3-title">Marca Rápido</span>
                <span class="ip3-subtitle">Mega Sem Segredo</span>
                <span class="ip3-text">
                    Conheça nossa extensão e descubra como marcar automaticamente suas apostas geradas pelo App Mega Sem Segredo diretamente do seu computador para o site da caixa!
                </span>
                <div class="ip3-actions">
                    <a href="https://chromewebstore.google.com/detail/mega-sem-segredo/ijppogbalaldgddhalhceomefpmjoajl" target="_blank"><button class="primary-button ip3-button">Utilizar</button></a>
                    <a href="https://www.youtube.com/watch?v=-cspq4exXsQ" target="_blank" class="ip3-tutorial">
                        <img src="/assets/images/initial-page/play.png">
                        Assista o tutorial
                    </a>
                </div>
                <div class="ip3-social">
                    <img src="/assets/images/google-play.png">
                    <img src="/assets/images/app-store.png">
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="ip4-container">
            <div class="ip-card">
                <div class="ip4-card-box">
                    <span class="ip4-box-text">{{ hasPlan ? '1000' : '5' }} combinações disponíveis</span>
                </div>
                <img class="ip4-phones" src="/assets/images/initial-page/phones.png">
                <div class="ip4-card-info">
                    <span class="ip4-title">Mega Sem Segredo</span>
                    <span class="ip4-text">Use o aplicativo Mega Sem Segredo e descubra como aumentar suas chances de ganhar!</span>
                    <div class="ip3-actions">
                        <a href="https://play.google.com/store/apps/details?id=br.com.lotobets&pcampaignid=web_share" target="_blank"><button class="primary-button ip3-button">Utilizar</button></a>
                        <a href="https://www.youtube.com/watch?v=7Ivi1V8Lwkw" target="_blank" class="ip3-tutorial">
                            <img src="/assets/images/initial-page/play.png">
                            Assista o tutorial
                        </a>
                    </div>
                    <div class="ip3-social">
                        <img src="/assets/images/google-play.png">
                        <img src="/assets/images/app-store.png">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="ip5-container">
            <span class="ip5-title">{{ hasPlan ? 'Potencialize seu plano' : 'Nossos planos' }}</span>
            <div class="hc4-cards">
              <div class="hc4-card large-card" *ngIf="!hasPlan">
                <div>
                  <div class="hc4-card-title-content">
                    <span class="hc4-card-title">Plano Grátis</span>
                  </div>
                  <div class="hc4-card-value-content">
                    <span class="hc4-card-value">R$0</span>
                  </div>
                  <div class="hc4-benefits">
                    <div class="hc4-benefits-item">
                      <img src="/assets/icons/check.svg">
                      <span class="hc4-text">Geração de até <strong>50</strong> combinações, sendo até 5/vez no App Mega Sem Segredo</span>
                    </div>
                    <div class="hc4-benefits-item">
                      <img src="/assets/icons/check.svg">
                      <span class="hc4-text">Dicas</span>
                    </div>
                    <div class="hc4-benefits-item">
                      <img src="/assets/icons/check.svg">
                      <span class="hc4-text">Estatísticas</span>
                    </div>
                    <div class="hc4-benefits-item">
                      <img src="/assets/icons/check.svg">
                      <span class="hc4-text">Gerar PDF das combinações</span>
                    </div>
                  </div>
                </div>
                <button class="primary-button hc4-button" [disabled]="true">Seu plano atual</button>
              </div>
              <div class="hc4-card large-card" *ngIf="!hasPlan">
                <div>
                  <div class="hc4-card-title-content">
                    <span class="hc4-card-title">Premium</span>
                    <div class="hc4-card-title-box">
                      <img src="/assets/icons/star.svg">
                      <span class="hc4-card-box-text">Popular</span>
                    </div>
                  </div>
                  <div class="hc4-card-value-content">
                    <span class="hc4-card-value-info">12x</span>
                    <span class="hc4-card-value">R$20</span>
                    <span class="hc4-card-value-info">/ Mês ou R$180 no pix</span>
                  </div>
                  <div class="hc4-benefits">
                    <div class="hc4-benefits-item">
                      <img src="/assets/icons/check.svg">
                      <span class="hc4-text">Geração de até <strong>10.000</strong> combinações, sendo até 200/vez no App Mega Sem Segredo</span>
                    </div>
                    <div class="hc4-benefits-item">
                      <img src="/assets/icons/check.svg">
                      <span class="hc4-text">Dicas</span>
                    </div>
                    <div class="hc4-benefits-item">
                      <img src="/assets/icons/check.svg">
                      <span class="hc4-text">Estatísticas</span>
                    </div>
                    <div class="hc4-benefits-item">
                      <img src="/assets/icons/check.svg">
                      <span class="hc4-text">Gerar PDF das combinações</span>
                    </div>
                    <div class="hc4-benefits-item">
                      <img src="/assets/icons/check.svg">
                      <span class="hc4-text">Permite o envio de volantes preenchidos por e-mail</span>
                    </div>
                    <div class="hc4-benefits-item">
                      <img src="/assets/icons/check.svg">
                      <span class="hc4-text">Permite transmitir para o site da Caixa, até 1.000 combinações por mês, via Marca Rápido</span>
                    </div>
                    <div class="hc4-benefits-item">
                      <img src="/assets/icons/check.svg">
                      <span class="hc4-text">Participação na Promoção da Virada – Bolão de R$ <strong>1.000,00</strong> para cada grupo 100 assinantes concorrerem ao prêmio milionário de R$ 600 milhões (estimativa) na Mega da Virada.</span>
                    </div>
                  </div>
                </div>
                <a class="hc4-link" routerLink="/payment-methods"><button class="primary-button hc4-button">Assinar</button></a>
              </div>
              <div class="hc4-card medium-card">
                <div>
                  <div class="hc4-card-title-content">
                    <span class="hc4-card-title">Compra de créditos</span>
                  </div>
                  <div class="hc4-card-value-content">
                    <span class="hc4-card-value">R$25</span>
                    <span class="hc4-card-value-info">/ Valor mínimo </span>
                  </div>
                  <div class="hc4-benefits">
                    <div class="hc4-benefits-item">
                      <img src="/assets/icons/check.svg">
                      <span class="hc4-text">Geração de até <strong>10.000</strong> combinações/mês, sendo até 200/vez no app Mega Sem Segredo</span>
                    </div>
                    <div class="hc4-benefits-item">
                      <img src="/assets/icons/check.svg">
                      <span class="hc4-text">Dicas</span>
                    </div>
                    <div class="hc4-benefits-item">
                      <img src="/assets/icons/check.svg">
                      <span class="hc4-text">Estatísticas</span>
                    </div>
                    <div class="hc4-benefits-item">
                      <img src="/assets/icons/check.svg">
                      <span class="hc4-text">Gerar PDF das combinações</span>
                    </div>
                    <div class="hc4-benefits-item">
                      <img src="/assets/icons/check.svg">
                      <span class="hc4-text">Permite o envio de volantes preenchidos por e-mail</span>
                    </div>
                    <div class="hc4-benefits-item">
                      <img src="/assets/icons/check.svg">
                      <span class="hc4-text">Permite transmitir para o site da Caixa, até 100 combinações por mês, via Marca Rápido</span>
                    </div>
                  </div>
                </div>
                <a class="hc4-link" routerLink="/buy-credit"><button class="primary-button hc4-button">Comprar</button></a>
              </div>
            </div>
        </div>
    </section>
</div>

<app-footer></app-footer>
