header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--black-2);
  padding: 0.75rem 4rem 1.1875rem 10.375rem;

  .header-logo {
    width: 7.5rem;
    height: 3.125rem;
  }

  .header-actions {
    gap: 1.5rem;
    display: flex;

    .header-actions-items {
      gap: 1rem;
      display: flex;
      align-items: center;
      text-transform: uppercase;

      .header-actions-item {
        cursor: pointer;
        color: var(--white);
        font-size: var(--medium-font-size);
        font-weight: var(--bold-font-weight);
      }
    }
  }
}

section {
  .content-1  {
    .content-container {
      gap: 4rem;
      display: flex;
      padding-top: 88px;
      align-items: center;
      justify-content: center;

      .content-info {
        gap: 2.25rem;
        display: flex;
        max-width: 540px;
        flex-direction: column;

        .content-info-title {
          max-width: 469px;
        }

        .content-info-elements {
          display: flex;
          gap: 1.3125rem;
          max-width: 28.375rem;
          flex-direction: column;

          .content-info-stores {
            display: flex;
            gap: 0.25rem;
          }

          button {
            width: fit-content;
            padding-left: 3.75rem;
            padding-right: 3.75rem;
          }
        }
      }

      .content-info-ilustration {
        width: 440px;
        height: 520px;
      }

      .phone-image {
        margin-top: -20px;
        margin-left: 430px;
        position: absolute;
      }
    }
  }

  .content-2 {
    gap: 2.625rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2.625rem 0 2.375rem 0;
    background: radial-gradient(70.71% 70.71% at 50% 50%, #454F5B 34%, #000 100%);

    .content-info-footer {
      gap: 1.125rem;
      display: flex;
      text-align: center;
      align-items: center;
      max-width: 39.25rem;
      flex-direction: column;
    }
  }

  .content-3 {
    gap: 9.5rem;
    display: flex;
    padding-top: 4rem;
    align-items: center;
    justify-content: center;

    .content-info-ilustration {
      width: 23.5625rem;
      height: 33.3125rem;
    }

    .book-image {
      position: absolute;
      margin-right: 700px;
    }

    .content-info {
      .content-info-title {
        margin-bottom: 1rem;
        max-width: 37.875rem;

        .title-small-weight {
          font-weight: var(--medium-font-weight);
        }
      }

      .content-info-text {
        max-width: 33.75rem;
        margin-bottom: 1.5rem;
      }
    }

    .content-info-footer {
      gap: 0.75rem;
      display: flex;
      flex-direction: column;

      .content-logos {
        gap: 0.75rem;
        display: flex;
        align-items: center;

        .americanas-logo {
          margin-top: -8px;
        }

        .shopee-logo {
          margin-top: -9px;
        }

        .submarino-logo {
          margin-top: -10px;
        }
      }
    }
  }
}
