<header>
  <img class="header-logo" src="/assets/images/logo.png" alt="logo do mega sem segredo">
  <div class="header-actions">
    <div class="header-actions-items">
      <a href="#"><span class="header-actions-item">Sobre o aplicativo</span></a>
      <a href="#"><span class="header-actions-item">Livro</span></a>
      <a href="#"><span class="header-actions-item">Plano</span></a>
    </div>
    <button class="primary-button">Assine agora</button>
  </div>
</header>
<section>
  <div class="content content-1">
    <div class="content-container">
      <div class="content-info">
        <div class="content-info-title">
          <span class="title text-secundary">Já imaginou ganhar na </span>
          <span class="title text-primary">Mega-Sena?</span>
        </div>
        <div class="content-info-elements">
          <span class="text">Conheça o aplicativo Mega sem segredo e descubra  como aumentar a suas chances de ganhar!</span>
          <button class="primary-button">Quero ganhar</button>
          <div class="content-info-stores">
            <a href="#"><img src="/assets/images/google-play.png" alt="Loja de aplicativos google play"></a>
            <a href="#"><img src="/assets/images/app-store.png" alt="Loja de aplicativos app store"></a>
          </div>
        </div>
      </div>
      <div class="content-info-ilustration"></div>
      <img class="phone-image" src="/assets/images/phone.png" alt="Mão segurando telefone">
    </div>
  </div>
  <div class="content content-2">
    <div class="content-info-subtitle">
      <span class="subtitle text-secundary">Por que somos a </span>
      <span class="subtitle text-primary">opção ideal para você?</span>
    </div>
    <iframe width="1100" height="616" src="https://www.youtube.com/embed/mdBnm0pUiYk?si=NWG5Ia9T2DHrOdaW" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <div class="content-info-footer">
      <div class="content-info-text">
        <span class="large-text text-secundary">Use nosso aplicativo </span>
        <span class="large-text text-primary">de graça </span>
        <span class="large-text text-secundary">e só pague quando houver o acerto nas 1.000 apostas sugeridas</span>
      </div>
      <button class="secundary-button">Baixar aplicativo</button>
    </div>
  </div>
  <div class="content content-3">
    <div class="content-info-ilustration"></div>
    <img class="book-image" src="/assets/images/book.png" alt="livro loteria sem segredo">
    <div class="content-info">
      <div class="content-info-title">
        <span class="title text-secundary">Livro: </span>
        <span class="title text-primary">Loteria Sem Segredo </span>
        <span class="title text-secundary title-small-weight">- A Matemática Explica</span>
      </div>
      <div class="content-info-text">
        <span class="text text-secundary">A obra representa anos de pesquisa dedicada aos
          concursos da Mega-Sena. Apresenta uma compilação de informações matemáticas para
          esclarecer equívocos comuns sobre loterias. Ao mesmo tempo, oferece orientações para
          auxiliar o leitor definir melhor suas estratégicas, otimizando seus recursos em apostas
          mais assertivas.
        </span>
      </div>
      <div class="content-info-footer">
        <span class="small-text text-secundary">Disponível nas principais plataformas:</span>
        <div class="content-logos">
          <a href="#" class="amazon-logo"><img src="/assets/images/amazon.png" alt="logo amazon"></a>
          <a href="#" class="americanas-logo"><img src="/assets/images/americanas.png" alt="logo americanas"></a>
          <a href="#" class="shopee-logo"><img src="/assets/images/shopee.png" alt="logo shopee"></a>
          <a href="#" class="submarino-logo"><img src="/assets/images/submarino.png" alt="logo submarino"></a>
          <a href="#" class="shoptime-logo"><img src="/assets/images/shoptime.png" alt="logo shoptime"></a>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>

</footer>
