<header>
  <img class="header-logo" src="/assets/images/logo.png" alt="logo do mega sem segredo">
  <div class="header-actions">
    <div class="header-actions-items">
      <a href="#"><span class="header-actions-item">Sobre o aplicativo</span></a>
      <a href="#"><span class="header-actions-item">Livro</span></a>
      <a href="#"><span class="header-actions-item">Plano</span></a>
      <a href="#"><span class="header-actions-item">Contato</span></a>
    </div>
    <button class="primary-button">Assine agora</button>
  </div>
</header>
<section>
  <div class="content content-1">
    <div class="content-container">
      <div class="content-info">
        <div class="content-info-title">
          <span class="title text-secundary">Já imaginou ganhar na </span>
          <span class="title text-primary">Mega-Sena?</span>
        </div>
        <div class="content-info-elements">
          <span class="text">Conheça o aplicativo Mega sem segredo e descubra  como aumentar a suas chances de ganhar!</span>
          <button class="primary-button">Quero ganhar</button>
          <div class="content-info-stores">
            <img src="/assets/images/google-play.png" alt="Loja de aplicativos google play">
            <img src="/assets/images/app-store.png" alt="Loja de aplicativos app store">
          </div>
        </div>
      </div>
      <div class="content-info-ilustration">
      </div>
      <img class="phone-image" src="/assets/images/phone.png" alt="Mão segurando telefone">
    </div>
  </div>
</section>
<footer>

</footer>
