<div class="container">
  <div class="title-container">
    <h1 class="title p-color">E ainda tem mais! </h1>
    <h1 class="title s-color">Assinando o Plano PRO participe da promoção  </h1>
  </div>
  
  <div class="content">
    <div class="content-1">
      <app-image class="phone-image hide-desktop" img="bolao" width="90%" height="90%"></app-image>
    </div>
    <div class="content-image hide-mobile">
      <app-image class="phone-image" img="bolao" width="90%" height="90%"></app-image>
    </div>
    <div class="content-2">
        <h1 class="title p-color">Bolão da Virada</h1>
        <div class="info-2">
            <p class="s-text s-color">Participação exclusiva para assinantes PRO, em <span class="p-color">Bolão na Mega da Virada </span>
              com um jogo de R$ 1.000,00 por grupo de 100 assinantes, que irá concorrer ao prêmio estimado de R$ 600 milhões.
            </p>
        </div>
    </div>
  </div>
</div>
