<div class="pp-container">
  <header>
    <a routerLink="#"><img src="/assets/images/logo.png" alt="logo mega sem segredo"></a>
  </header>
  <section>
    <div class="pp-content">
      <span class="title text-secundary">Políticas de Privacidade</span>
    </div>
  </section>
  <section>
    <div class="pp-content">
      <div>
        <p class="small-text text-secundary">
        Todo o seu relacionamento e interação com a MEGA COMUNIDADE e com o
        MEGA SEM SEGREDO, na qualidade de Usuário/Assinante, serão realizados
        de forma online. Todas as informações dos Usuários são sigilosas e
        confidenciais, tratadas de acordo com a Lei Geral de Proteção de Dados –
        LGPD. <br><br>
        A sua privacidade é importante para nós. É política da MEGA COMUNIDADE e
        do MEGA SEM SEGREDO respeitar a sua privacidade em relação a qualquer
        informação que possamos coletar no aplicativo MEGA SEM SEGREDO, e em
        outros aplicativos ou sites que possuímos. <br><br>
        Solicitamos informações pessoais apenas quando realmente precisamos delas
        para fornecer um serviço. Fazemo-lo por meios justos e legais, com o seu
        conhecimento e consentimento, respeitando a Lei Geral de Proteção de Dados
        – LGPD. Também informamos porque estamos coletando e como serão
        utilizadas. As informações coletadas serão utilizadas apenas pelo tempo
        necessário para fornecer o serviço solicitado. Quando armazenamos dados,
        protegemos dentro de meios comercialmente aceitáveis para evitar perdas e
        roubos, bem como acesso, divulgação, cópia, uso ou modificação não
        autorizados. <br><br>
        Não compartilhamos informações de identificação pessoal publicamente ou
        com terceiros, exceto quando exigido por lei. <br><br>
        O nosso aplicativo pode ter links para aplicativos externos que não são
        operados por nós. Esteja ciente de que não temos controle sobre o conteúdo e
        práticas desses aplicativos e não podemos aceitar responsabilidade por suas
        respectivas políticas de privacidade. <br><br>
        Você é livre para recusar a nossa solicitação de informações pessoais,
        entendendo que talvez não possamos fornecer alguns dos serviços desejados.
        O uso continuado de nosso aplicativo será considerado como aceitação de
        nossas práticas em torno de privacidade e informações pessoais. <br><br>
        Não utilizamos anúncios. Todos os custos de funcionamento deste aplicativo e
        futuros desenvolvimentos são financiados com recursos próprios. 
        </p>
      </div>
    </div>
  </section>
  <footer>
    <div class="pp-content">
      <button class="primary-button" (click)="goBack()">Voltar</button>
    </div>
  </footer>
</div>