.pp-container {
    margin-top: 5rem;
    min-height: 88vh;
    background-color: var(--black-2);
  
    header {
      padding-top: 1rem;
      padding-left: 2.44rem;
    }
  
    section {
      display: flex;
      padding-left: 2.5rem;
      padding-right: 2.5rem;
      justify-content: center;
    }
  
    footer {
      display: flex;
      padding-left: 2.5rem;
      padding-right: 2.5rem;
      padding-bottom: 3rem;
      justify-content: center;
    }
  
    .pp-content {
      max-width: 850px;
      padding-top: 42px;

      .title {
        font-size: 28px;
        font-weight: 400;
      }
  
      .small-text {
        text-align: justify;
        font-weight: 400;
        line-height: 21px;
      }
    }
  }
  
  @media(max-width: 800px) {
    section, footer {
      padding-left: 1.5rem !important;
      padding-right: 1.5rem !important;
    }
  
    footer {
      padding-bottom: 2rem !important;
  
      button {
        width: 100%;
      }
    }
  }