<footer>
    <div class="footer-container">
      <a href="#"><img src="/assets/images/logo.png" alt="logo mega sem segredo"></a>
      <a href="https://api.whatsapp.com/send/?phone=86994202732&text&type=phone_number&app_absent=0"><span class="text-footer support-text">Suporte Técnico: (86) 9 9420-2732</span></a>
      <a routerLink="/privacy-policy"><span class="text-footer support-text">Políticas de privacidade</span></a>
    </div>
    <div class="text-footer">
      <span class="text-copy">CNPJ: 52.561.540/0001-48 </span>
      <span class="text-copy">Todos os direitos reservados, 2023 - Mega Sem Segredo</span>
    </div>
  </footer>