<footer>
  <div class="footer-container">
    <div class="footer-content">
      <a href="https://api.whatsapp.com/send/?phone=86994795840&text&type=phone_number&app_absent=0"><span class="text-footer support-text">Contato</span></a>
      <a routerLink="/use-terms"><span class="text-footer support-text">Termos e condições de uso</span></a>
      <a routerLink="/privacy-policy"><span class="text-footer support-text">Políticas de privacidade</span></a>
    </div>
    <a href="#" class="text-primary text-footer-regulation" *ngIf="showRegulation">Regulamento</a>
  </div>
  <div class="text-footer">
    <div class="f-logo">
      <a href="#"><img src="/assets/images/logo-mega-comunidade.svg" alt="logo mega sem segredo"></a>
    </div>
    <span class="text-copy">CNPJ: 52.561.540/0001-48 </span>
    <span class="text-copy">Todos os direitos reservados, 2023 - Mega Sem Segredo</span>
  </div>
</footer>