<div class="confirmation-container">
  <header>
    <a routerLink="#"><img src="/assets/images/logo.png" alt="logo mega sem segredo"></a>
  </header>
  <section>
    <img src="/assets/images/email-confirmation.png" alt="">
    <div class="c-text-container">
      <span class="large-text text-secundary">Confirmação de Cadastro</span>
      <span class="text text-secundary">Estamos quase lá! <br> Acesse seu e-mail e clique no link da mensagem para confirmar sua conta.</span>
    </div>
  </section>
</div>
