.confirmation-container {
    min-height: 100vh;
    background-color: var(--black-2);

    header {
        padding-top: 1rem;
        padding-left: 2.44rem;
    }

    section {
        background: radial-gradient(360px 360px at 50% 55%, rgba(64, 173, 28, 0.3) 0%, rgba(0, 0, 0, 0.00) 58.19%);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 500px;
        padding-left: 0.5rem;
        padding-right: 0.5rem;

        img {
            width: 150px;
        }

        .large-text {
            margin-bottom: 0.5rem;
        }

        .c-text-container {
            text-align: center;
            display: flex;
            flex-direction: column;
        }
    }
}

@media(max-width: 800px) {
    .large-text {
        margin-bottom: 20px !important;
        font-size: 1.375rem;
    }
}