<div class="ls-container">
    <app-header-logged></app-header-logged>

    <div class="ls-content">
        <h1 class="ls-title text-secundary">Selecione a loteria</h1>

        <div class="ls-lotteries-container">
            <a [routerLink]="['/lottery', 'lotofacil']"><img class="ls-lotofacil" src="/assets/images/lottery-selection/lotofacil.png"></a>
            <a><img src="/assets/images/lottery-selection/dupla-sena.png"></a>
            <a><img src="/assets/images/lottery-selection/quina.png"></a>
            <a><img src="/assets/images/lottery-selection/mega-sena.png"></a>
            <a><img src="/assets/images/lottery-selection/lotomania.png"></a>
            <a><img src="/assets/images/lottery-selection/milionaria.png"></a>
        </div>
    </div>
</div>
