.l-container {
    height: 100%;
    min-height: calc(100vh - 90px);
    background-color: #161C24;
    padding-bottom: 3rem;

    .l-content {
        width: 100%;
        display: flex;
        margin-top: 90px;
        justify-content: center;
        padding: 80px 2rem 0;

        .box {
            width: 100%;
            max-width: 1124px;
        }

        .l-title-container {
            padding: 2px 12px;
            border-radius: 8px;
            margin-bottom: 38px;
            background-color: #BE0133;
        }

        .l-title {
            font-weight: 600;
        }

        .l-subtitle {
            font-weight: 600;
            font-size: 20px;
        }

        .l-cards {
            gap: 32px;
            display: flex;
            margin-top: 20px;
            align-items: center;
            flex-wrap: wrap;

            .l-card {
                width: 237px;
                height: 209px;
                display: flex;
                cursor: pointer;
                min-width: 237px;
                align-items: center;
                border-radius: 8px;
                flex-direction: column;
                padding: 43px 13px 20px;
                background-color: #242424;

                .l-card-title {
                    font-size: 60px;
                    font-weight: 600;
                    line-height: 30px;
                }

                .l-card-subtitle {
                    font-size: 14px;
                    margin-top: 25px;
                    font-weight: 600;
                    line-height: 30px;
                }

                .l-card-info {
                    font-size: 14px;
                    margin-top: 4px;
                    font-weight: 600;
                    line-height: 19px;
                }

                .upload-text {
                    margin-top: 20px;
                }

                span {
                    text-align: center;
                }
            }
        }

        .content-2 {
            margin-top: 38px;

            .l-cards {
                flex-wrap: wrap;
            }

            .l-card {
                height: 175px;
                position: relative;

                .l-card-subtitle {
                    font-size: 20px;
                }

                .l-card-info {
                    font-size: 10px;
                }
            }

            .delete-button {
                z-index: 1;
                cursor: pointer;
                margin-left: 208px;
                margin-top: 6px;
                position: absolute;
            }
        }
    }
}

.promotion-menu {
    display: flex;
    position: relative;
    justify-content: center;
    z-index: 1;
    width: 313px;
    position: absolute;
  }
  
  .submenu {
    width: 100%;
    top: calc(100% + 36px);
    display: flex;
    position: absolute;
    border-radius: 8px;
    align-items: center;
    flex-direction: column;
    background-color: #212A36;
  }
  
  .submenu button {
    background-color: transparent;
    font-weight: 700;
    font-size: 20px;
    color: #40AD1C;
    padding: 16px 12px;
    width: 100%;
    border-radius: 0;
    gap: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .submenu button:hover {
    background-color: #283342;
  }

  .submenu .menu-line {
    height: 1px;
    width: 100%;
    background-color: #2C404E;
  }

@media(max-width: 965px) {
    .l-cards {
        div, a, .l-card, .l-text {
            width: 100% !important;
            text-align: center;
        }
    }

    .delete-button {
        right: 40px;
    }
}