<div class="content-info-subtitle">
  <span class="register-subtitle text-secundary">Escolha a forma de pagamento</span>
</div>
<div class="form">
  <div class="form-item">
    <input type="radio" id="credit_card" name="payment_method" value="credit_card" [formControl]="selectedPaymentMethod">
    <label for="credit_card"></label>
    <div class="item-card">
      <span>Cartão de crédito</span>
      <span>12x de R$ 20</span>
    </div>
  </div>
  <div class="form-item">
    <input type="radio" id="pix" name="payment_method" value="pix" [formControl]="selectedPaymentMethod">
    <label for="pix"></label>
    <div class="item-card">
      <span>PIX</span>
      <span>R$ 180</span>
    </div>
  </div>
  <div class="form-item code-indication-item" *ngIf="selectedPaymentMethod.value === 'pix'">
    <span class="text-secundary">Código de indicação</span>
    <input type="text" maxlength="15">
  </div>
  <div class="footer-form">
    <button class="primary-button" (click)="next()">Continuar</button>
    <img src="/assets/images/safe-buy.png" alt="imagem do selo de compra segura">
  </div>
</div>
