<app-header-logged></app-header-logged>

<section>
    <div class="bc-container">
        <span class="bc-title">Perfil</span>
        <div class="bc-box" [formGroup]="formUser">
            <img class="bc-box-coin" src="/assets/images/profile/profile.png">

            <div class="p-content">
                <div class="p-input-container">
                    <span class="p-input-title">Nome</span>
                    <input type="text" placeholder="" formControlName="first_name">
                    <div class="p-input-icon">
                        <img src="/assets/images/profile/profile.svg" alt="">
                    </div>
                </div>

                <div class="p-input-container">
                    <span class="p-input-title">Sobrenome</span>
                    <input type="text" placeholder="" formControlName="last_name">
                    <div class="p-input-icon">
                        <img src="/assets/images/profile/profile.svg" alt="">
                    </div>
                </div>

                <div class="p-input-container">
                    <span class="p-input-title">E-mail</span>
                    <input type="email" placeholder="" formControlName="email">
                    <div class="p-input-icon">
                        <img src="/assets/images/profile/email.svg" alt="">
                    </div>
                </div>

                <a class="p-change-password" [routerLink]="['/change-password', 'change']">
                    <button class="primary-button p-button">Mudar senha</button>
                </a>
                <a href="#" class="p-logout" (click)="logout()">Sair</a>
            </div>
        </div>
    </div>
</section>
