<div class="l-container">
    <app-header-logged></app-header-logged>

    <div class="l-content">
        <div class="l-body">
            <div class="l-title-container">
                <h1 class="l-title text-secundary">{{ combinationsQuantity }} combinações - Dupla Sena</h1>
            </div>

            <span class="l-subtitle text-secundary">Selecione os {{ maxSelectableNumbers }} números que serão combinados</span>

            <div class="l-box">
                <div class="card">
                    <span class="card-title text-secundary">{{ selectedNumbers.size }} {{ selectedNumbers.size <= 1 ? 'número selecionado' : 'números selecionados' }}</span>

                    <button (click)="clearCombination()" class="ds-clear-button">Limpar</button>

                    <div class="numbers">
                        <div *ngFor="let number of numbers" class="number" [class.selected-number]="checkNumber(+number)" (click)="addOrRemoveNumber(+number)">{{ number }}</div>
                    </div>
                </div>

                <button (click)="createCombinations()" class="primary-button" [disabled]="selectedNumbers.size < maxSelectableNumbers">Gerar combinações</button>
            </div>
        </div>
    </div>
</div>
