.l-container {
    height: 100%;
    min-height: calc(100vh - 90px);
    background-color: #161C24;

    .l-content {
        width: 100%;
        margin-top: 90px;
        padding-top: 80px;
        padding: 80px 2rem 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;

        .l-body {
            max-width: 1124px;
            width: 100%;
        }

        .l-title-container {
            padding: 2px 12px;
            border-radius: 8px;
            margin-bottom: 38px;
            background-color: #BE0133;
            
        }

        .l-title {
            font-weight: 600;
        }

        .l-box {
            width: 100%;
            display: flex;
            max-width: 609px;
            margin-top: 36px;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            .card {
                width: 100%;
                height: 410px;
                display: flex;
                border-radius: 16px;
                align-items: center;
                flex-direction: column;
                padding: 24px 18px 25px;
                background-color: #263238;

                .card-title {
                    font-size: 18px;
                    font-weight: 600;
                }

                .numbers {
                    gap: 12px;
                    display: flex;
                    flex-wrap: wrap;
                    margin-top: 16px;

                    .number {
                        width: 46px;
                        height: 46px;
                        color: white;
                        display: flex;
                        cursor: pointer;
                        font-size: 20px;
                        font-weight: 800;
                        user-select: none;
                        border-radius: 50%;
                        align-items: center;
                        justify-content: center;
                        background-color: #455A64;
                    }

                    .selected-number {
                        background-color: #BE0133;
                    }
                }
            }

            .primary-button {
                width: 100%;
                margin-top: 20px;
                max-width: 314px;
                align-self: flex-end;
            }

            .back-button {
                font-size: 20px;
                font-weight: 600;
                margin-top: 20px;
            }
        }
    }
}

.ds-clear-button {
    background-color: transparent;
    color: #40AD1C;
    font-weight: 600;
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
}

@media(max-width: 965px) {
    .l-container {
        padding-bottom: 2rem;
    }

    .l-box {
        max-width: 100% !important;
    }

    .card {
        height:     auto !important;
    }

    .primary-button {
        max-width: 100% !important;
    }
}