<header>
    <a href="#"><img class="header-logo" src="/assets/images/logo-mega-comunidade.svg" alt="logo do mega sem segredo"></a>
    <div class="header-actions">
      <div class="header-actions-items">
        <a href="#about">Aplicativo</a>
        <a href="#book">Livro</a>
        <a href="#plan">Plano</a>
        <a routerLink="/check-hits">Conferir acertos</a>
        <a routerLink="/lucky-pix">PIX da sorte</a>
        <a href="#who-we-are">Quem somos</a>
      </div>
      <a routerLink="/register/web"><button class="primary-button">Assine agora</button></a>
    </div>
  </header>