header {
    top: 0;
    z-index: 2;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    background-color: var(--black-2);
    box-shadow: 1px 1px 3px 1px #1a1a1a;
    padding: 1.5rem 4rem 1.25rem 10.375rem;
  
    .header-logo {
      width: 11.875rem;
      height: 2.5rem;
    }
  
    .header-actions {
      gap: 1.5rem;
      display: flex;
  
      .header-actions-items {
        gap: 1rem;
        z-index: 1;
        display: flex;
        align-items: center;
        text-transform: uppercase;
  
        a {
          cursor: pointer;
          color: var(--white);
          font-size: var(--medium-font-size);
          font-weight: var(--bold-font-weight);
        }
  
        a:hover {
          color: var(--primary);
        }
      }
    }
  }

@media(max-width: 1210px) {
  header {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media(max-width: 1010px) {
  .header-actions {
    display: none !important;
  }

  header {
    padding-left: 2rem;
  }
}