@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  //CORES
  --red: #FF3A44;
  --black: #000000;
  --white : #FFFFFF;
  --black-2: #161C24;
  --primary: #40AD1C;

  //FONTES
  --font-family: 'Nunito';

  //TAMANHO DAS FONTES
  --title-font-size: 3rem;
  --text-font-size: 1.125rem;
  --small-text-font-size: 1rem;
  --medium-font-size: 0.875rem;
  --large-text-font-size: 1.5rem;
  --subtitle-font-size: 2.3125rem;
  --small-subtitle-font-size: 1.8rem;

  //PESO DAS FONTES
  --bold-font-weight: 700;
  --medium-font-weight: 400;
  --regular-font-weight: 500;
  --lighter-font-weight: 300;
  --bold-font-weight-900: 900;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  scroll-behavior: smooth;
  box-sizing: border-box;
}


::before,
::after {
  box-sizing: inherit;
}


body {
  background-color: var(--black);
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  cursor: pointer;
  color: var(--white);
  border-radius: 2rem;
  padding: 0.75rem 1.625rem;
  font-size: var(--medium-font-size);
  font-weight: var(--bold-font-weight);
}

button:active {
  opacity: 0.8;
}

button:disabled {
  background-color: #B1B1B1;
  cursor: default;
}

.primary-button {
  background-color: var(--primary);
}

.secundary-button {
  background-color: transparent;
  border: 1px solid var(--primary);
}

.secundary-button:hover {
  background-color: var(--primary);
}

.title {
  line-height: 3rem;
  color: var(--white);
  font-size: var(--title-font-size);
  font-weight: var(--medium-font-weight);
}

.subtitle {
  line-height: normal;
  font-size: var(--subtitle-font-size);
  font-weight: var(--lighter-font-weight);
}

.small-subtitle {
  line-height: normal;
  font-weight: var(--medium-font-weight);
  font-size: var(--small-subtitle-font-size);
}

.large-text {
  line-height: 2.125rem;
  font-size: var(--large-text-font-size);
  font-weight: var(--medium-font-weight);
}

.large-text.text-primary {
  font-weight: var(--bold-font-weight);
}

.text {
  color: var(--white);
  line-height: 1.6875rem;
  font-size: var(--text-font-size);
  font-weight: var(--medium-font-weight);
}

.small-text {
  line-height: normal;
  font-size: var(--small-text);
  font-weight: var(--bold-font-weight);
}

.text-primary {
  color: var(--primary);
}

.text-secundary {
  color: var(--white);
}

.title.text-primary {
  font-weight: var(--bold-font-weight-900);
}

.small-subtitle.text-primary {
  font-weight: var(--bold-font-weight);
}

.error {
  gap: 0.125rem;
  display: flex;
  margin-top: 4rem;
  position: absolute;
  align-items: center;
}

.error-text {
  color: var(--red);
  font-size: 0.75rem;
  line-height: normal;
  font-weight: var(--bold-font-weight);
}

.invalid-input {
  border: 2px solid var(--red) !important;
}

.hidden-desktop {
  display: none;
}

.hidden-mobile {
  display: flex;
}

.light-text {
  font-weight: 200;
}

.bold-text {
  font-weight: 900;
}

.form-input {
  display: flex;
  align-items: flex-end;
  flex-direction: column;

  .eye-password {
    cursor: pointer;
    position: absolute;
    margin-top: 30px;
    margin-right: 10px;
  }

  label {
    color: var(--white);
    font-size: 0.875rem;
    line-height: normal;
    align-self: flex-start;
    font-weight: var(--medium-font-weight);
  }
  
  input {
    width: 100%;
    outline: none;
    color: var(--black-2);
    border-radius: 0.625rem;
    background: var(--white);
    font-size: var(--small-font-size);
    border: 2px solid rgba(0, 0, 0, 0.50);
    padding: 0.59375rem 0.75rem 0.59375rem 0.75rem;
  }
}

.p-color {
  color: var(--primary);
}

.s-color {
  color: var(--white);
}

.hide-desktop {
  display: none !important;
}

.p-button {
  background-color: var(--primary);
}

@media(max-width: 1040px) {
  .hide-desktop {
    display: flex !important;
}

.hide-mobile {
    display: none !important;
}

  .title {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .subtitle {
    font-size: 1.5rem;
    font-weight: 400;
  }

  .subtitle.text-primary {
    font-weight: var(--bold-font-weight);
  }

  .small-subtitle {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .large-text {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  .hidden-desktop {
    display: flex;
  }

  .hidden-mobile {
    display: none !important;
  }

  button {
    font-size: 1rem;
    font-weight: var(--bold-font-weight);
  }
}


body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  background: var(--black-2);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 20px;
  border: 3px solid var(--black-2);
}

::-webkit-scrollbar{
  height: 4px;
  width: 4px;
  background: var(--black-2);
}
::-webkit-scrollbar-thumb:horizontal{
  background: var(--primary);
  border-radius: 10px;
}
