section {
  margin-top: 1.5rem;

  .content-1  {
    display: flex;
    margin-top: -20px;
    align-items: center;
    flex-direction: column;

    .hc1-title {
      font-weight: 800;
      font-size: 38px;
      line-height: 40px;
    }

    .hc1-subtitle {
      margin-top: 10px;
      font-weight: 400;
      font-size: 30px;
      line-height: 31px;
    }

    .hc1-cards {
      display: flex;
      gap: 60px;
    }

    .hc1-card {
      width: 348px;
      height: 407px;
      margin-top: 136px;
      border-radius: 22px;
      padding: 14px 7px 23px;
      background-color: #263238B2;

      .hc1-number {
        font-size: 50px;
        line-height: 48px;
        color: #40AD1C;
        font-weight: 800;
        margin-left: 7px;
      }

      .hc1-box {
        margin-top: -145px;
        display: flex;
        align-items: center;
        flex-direction: column;

        .hc1-box-text {
          margin-bottom: 12px;
          text-align: center;
          color: white;
          font-size: 16px;
          font-weight: 400;
          line-height: 21px;
        }

        button {
          padding: 12px 94px;
        }

        .hc1-store-logos {
          gap: 24px;
          display: flex;
          margin-top: 15px;
          justify-content: center;
        }
      }
    }

    .highlight-text {
      color: #40AD1C;
      font-weight: 800;
    }

    .card-1 {
      .hc1-box {
        margin-top: -129px;
      }

      .hc1-box-img {
        width: 123px;
        height: 247px;
      }

      .hc1-box-text {
        margin-top: 34px;
      }
    }

    .card-2 {
      .hc1-box-img {
        margin-left: 28px;
        width: 234px;
        height: 244px;
      }

      .hc1-box-text {
        margin-top: 54px;
      }
    }

    .card-3 {
      .hc1-box-img {
        width: 153px;
        height: 247px;
      }

      .hc1-box-text {
        margin-top: 30px;
        max-width: 251px;
      }
    }
  }

  .content-2 {
    gap: 2.625rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 7.625rem 0 7.375rem 0;
    background: radial-gradient(35.71% 65.71% at 50% 58%, #44AB1C80 30%, #000 79%);

    .content-info-footer {
      gap: 1.125rem;
      display: flex;
      text-align: center;
      align-items: center;
      max-width: 39.25rem;
      flex-direction: column;
    }

    .secundary-button {
      padding: 1rem 4rem;
      font-size: 1rem;
    }

    .cif-text {
      font-weight: 500;
      font-size: 1.25rem;
    }

    .hc2-title {
      font-size: 38px;
    }
  }

  .content-3 {
    gap: 125px;
    display: flex;
    padding-top: 20px;
    margin-top: 150px;
    align-items: center;
    justify-content: center;
    background: url('/assets/images/home/background-volante.png') no-repeat center center;
    background-size: cover;

    .hc3-info {
      display: flex;
      max-width: 528px;
      margin-top: -58px;
      flex-direction: column;


      .hc3-title {
        font-size: 30px;
        color: #40AD1C;
        font-weight: 800;
        line-height: 31px;
      }

      .hc3-text {
        color: white;
        font-size: 25px;
        font-weight: 500;
        line-height: 27px;
      }

      .t1 {
        margin-top: 32px;
        margin-bottom: 42px;
      }

      .t2 {
        margin-bottom: 20px;
      }

      .hc3-text-box {
        gap: 10px;
        display: flex;
        flex-direction: column;
      }

      .hc3-text-icon {
        gap: 8px;
        display: flex;
        align-items: center;
      }
    }

    .hc3-img {
      padding-top: 48px;
    }

    .highlight-text {
      color: #40AD1C;
      font-weight: 700;
    }
  }

  .content-4 {
    gap: 94px;
    display: flex;
    padding: 68px 0;
    align-items: center;
    flex-direction: column;
    background-color: #161C24;

    .hc4-title {
      font-weight: 800;
      line-height: 40px;
      font-size: 38px;
      color: white;
    }

    .hc4-cards {
      gap: 56px;
      display: flex;
      justify-content: center;

      .hc4-card {
        display: flex;
        padding: 42px 32px;
        height: fit-content;
        border-radius: 18px;
        flex-direction: column;
        background-color: white;
        outline: solid 2px #66B285;

        .hc4-card-title-content {
          gap: 8px;
          display: flex;

          .hc4-card-title {
            font-size: 28px;
            font-weight: 500;
            color: #263238;
            line-height: 32px;
          }

          .hc4-card-title-box {
            gap: 6px;
            display: flex;
            padding: 4px 10px;
            border-radius: 4px;
            align-items: center;
            background-color: #DEF9D5;

            .hc4-card-box-text {
              font-weight: 600;
              font-size: 14px;
              line-height: 20px;
              color: #40AD1C;
            }
          }
        }

        .hc4-card-value-content {
          margin-top: 38px;

          .hc4-card-value {
            font-size: 36px;
            font-weight: 700;
            color: #40AD1C;
            line-height: 36px;
            letter-spacing: 0.25px;
          }

          .hc4-card-value-info {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #4B5563;
          }
        }

        .hc4-benefits {
          gap: 16px;
          display: flex;
          margin-top: 24px;
          margin-bottom: 24px;
          flex-direction: column;

          .hc4-benefits-item {
            gap: 12px;
            display: flex;
            max-width: 255px;
            align-items: flex-start;
          }
        }
      }
    }
  }

  .content-5 {
    gap: 9.5rem;
    display: flex;
    padding-top: 4rem;
    padding-bottom: 4.75rem;
    align-items: center;
    justify-content: center;

    .content-info-ilustration {
      width: 23.5625rem;
      height: 33.3125rem;
    }

    .book-image {
      z-index: -1;
      position: absolute;
      margin-right: 700px;
    }

    .content-info {
      .content-info-title {
        margin-bottom: 1rem;
        max-width: 616px;

        .title-small-weight {
          font-weight: var(--medium-font-weight);
        }
      }

      .content-info-text {
        max-width: 33.75rem;
        margin-bottom: 1.5rem;
      }
    }

    .content-info-footer {
      gap: 0.75rem;
      display: flex;
      flex-direction: column;

      .content-logos {
        z-index: 1;
        gap: 0.75rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .americanas-logo {
          margin-top: -8px;
        }

        .shopee-logo {
          margin-top: -9px;
        }

        .submarino-logo {
          margin-top: -10px;
        }
      }
    }
  }

}

@media(max-width: 1360px) {
  .phone-image {
    width: 720px;
    margin-left: 350px !important;
  }
}

@media(max-width: 1100px) {
  iframe {
    width: 100%;
  }

  .phone-image {
    width: 590px;
    margin-left: 250px !important;
  }

  .book-image {
    margin-right: 450px !important;
  }
}

@media(max-width: 1040px) {
  .content-container {
    gap: 1.5rem !important;
    flex-direction: column;
    padding-top: 2.31rem !important;
    background: radial-gradient(130% 102% at 50% 64%, rgba(64, 173, 28, 0.4) 0%, rgba(0, 0, 0, 0.00) 59.19%);

    .content-info-title {
      text-align: center;
      max-width: 19rem !important;
    }

    .content-info-ilustration {
      width: 100% !important;
      height: 100% !important;
      text-align: center;
      display: flex;
      align-items: flex-end;
      justify-content: center;

      .content-info-stores {
        display: flex;
        padding-bottom: 1rem;
        flex-direction: column;
      }

      img {
        margin-top: 0 !important;
        position: relative !important;
        max-width: 100% !important;
        width: auto !important;
        margin-left: 75px !important;
      }
    }
  }

  .content-info-elements {
    margin-bottom: 1.75rem;
    gap: 1rem;
    padding-top: 2.75rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    .text {
      width: 19.625rem;
    }

    a {
      width: 15.625rem;
      max-width: 15.625rem;

      button {
        width: 100%;
      }
    }
  }

  .content-1 {
    .content-info {
      margin-top: 0 !important;
    }
  }

  .content-2 {
    gap: 2rem !important;
    padding-top: 7.125rem !important;

    .content-info-subtitle {
      max-width: 22.25rem;
      text-align: center;
    }

    iframe {
      max-width: 23.75rem;
      max-height: 14.1875rem;
      width: 100%;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }

    .content-info-text {
      max-width: 20rem;
      text-align: center;
    }
  }

  .content-5 {
    padding-top: 7rem !important;
    flex-direction: column;

    .content-info {
      width: 100%;
      background: radial-gradient(180% 53% at 50% 38%, rgba(64, 173, 28, 0.3) 0%, rgba(0, 0, 0, 0.00) 59.19%);
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .content-info-title {
      max-width: 19rem !important;
      text-align: center;
      margin-bottom: 1.5rem !important;

      .title {
        font-size: 1.5rem;
        line-height: 2rem;
      }
    }

    .content-info-ilustration {
      width: 100% !important;
      height: 100% !important;
      text-align: center;
      display: flex;
      align-items: flex-end;
      justify-content: center;

      .content-info-stores {
        display: flex;
        padding-bottom: 1rem;
        flex-direction: column;
      }

      img {
        z-index: 0;
        margin-top: 0 !important;
        position: relative !important;
        max-width: 100% !important;
        width: auto !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
      }
    }

    .content-info-text {
      margin-top: 1.875rem;
      max-width: 19.625rem !important;
    }

    .content-info-footer {
      max-width: 19.625rem;

      .content-logos {
        flex-wrap: wrap;
      }
    }
  }
}
