<app-header></app-header>
<section>
  <div class="content content-2" id="about">
    <div class="content-info-subtitle">
      <span class="subtitle text-secundary light-text hc2-title">Por que somos a </span>
      <strong class="subtitle text-secundary bold-text hc2-title">opção ideal para você?</strong>
    </div>
    <iframe id="youtubePlayer" width="1100" height="616" src="https://www.youtube.com/embed/erj4xcWKeds?si=Z_BFmjThq-lZgJHJ" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="content content-1">
    <span class="hc1-title text-secundary">Saiba como podemos melhorar seus resultados</span>
    <span class="hc1-subtitle text-secundary">com nossas soluções da Mega Comunidade</span>
    <div class="hc1-cards">
      <div class="hc1-card card-1">
        <span class="hc1-number">1</span>
        <div class="hc1-box">
          <img class="hc1-box-img" src="/assets/images/home/phone.png">
          <p class="hc1-box-text">Baixe grátis o <span class="highlight-text">aplicativo Mega Sem Segredo</span> e dê um upgrade nas suas apostas na Mega-Sena</p>
          <button class="primary-button hc1-box-button">Baixar</button>
          <div class="hc1-store-logos">
            <img src="/assets/images/google-play.png">
            <img src="/assets/images/app-store.png">
          </div>
        </div>
      </div>
      <div class="hc1-card card-2">
        <span class="hc1-number">2</span>
        <div class="hc1-box">
          <img class="hc1-box-img" src="/assets/images/home/notebook.png">
          <p class="hc1-box-text"><span class="highlight-text">Marque automaticamente</span> suas apostas geradas pelo App, diretamente do seu computador para o site da caixa!</p>
          <a href="https://chromewebstore.google.com/detail/mega-sem-segredo/ijppogbalaldgddhalhceomefpmjoajl" target="_blank"><button class="primary-button hc1-box-button">Utilizar</button></a>
          <div class="hc1-store-logos">
            <img src="/assets/images/home/available.png">
          </div>
        </div>
      </div>
      <div class="hc1-card card-3">
        <span class="hc1-number">3</span>
        <div class="hc1-box">
          <img class="hc1-box-img" src="/assets/images/home/book.png">
          <p class="hc1-box-text">Livro: <span class="highlight-text">Loteria Sem Segredo</span>. <br> Um guia para orientar o apostador sobre como otimizar seus recursos e ampliar suas chances de acertos.</p>
          <button class="primary-button hc1-box-button">Utilizar</button>
          <div class="hc1-store-logos">
            <img src="/assets/images/home/available.png">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content content-3">
    <div class="hc3-info">
      <span class="hc3-title">Abandone o jeito antigo de apostar e passe para o novo nível de Jogo.</span>
      <span class="hc3-text t1">Olá, sou <span class="highlight-text">Adalberto Benevides Júnior</span>
        fundador da Mega Comunidade, que tem como missão
        democratizar a sorte, contribuindo para que
        os prêmios da Mega-Sena sejam distribuídos
        para mais pessoas.
      </span>
      <span class="hc3-text t2">Com os produtos da Mega Comunidade você se tornará um apostador de sucesso!</span>
      <div class="hc3-text-box">
        <div class="hc3-text-icon">
          <img src="/assets/icons/done-2.svg">
          <span class="hc3-text">Aplicativo que potencializa suas apostas</span>
        </div>
        <div class="hc3-text-icon">
          <img src="/assets/icons/done-2.svg">
          <span class="hc3-text">Marcador automático de apostas</span>
        </div>
        <div class="hc3-text-icon">
          <img src="/assets/icons/done-2.svg">
          <span class="hc3-text">Livro Loteria Sem Segredo</span>
        </div>
      </div>
    </div>
    <div class="hc3-img">
      <img src="/assets/images/home/adalberto.png">
    </div>
  </div>

  <div class="content content-4">
    <span class="hc4-title">Investimento que cabe no seu bolso</span>
    <div class="hc4-cards">
      <div class="hc4-card large-card">
        <div>
          <div class="hc4-card-title-content">
            <span class="hc4-card-title">Plano Grátis</span>
          </div>
          <div class="hc4-card-value-content">
            <span class="hc4-card-value">R$0</span>
          </div>
          <div class="hc4-benefits">
            <div class="hc4-benefits-item">
              <img src="/assets/icons/check.svg">
              <span class="hc4-text">Geração de até <strong>50</strong> combinações, sendo até 5/vez no App Mega Sem Segredo</span>
            </div>
            <div class="hc4-benefits-item">
              <img src="/assets/icons/check.svg">
              <span class="hc4-text">Dicas</span>
            </div>
            <div class="hc4-benefits-item">
              <img src="/assets/icons/check.svg">
              <span class="hc4-text">Estatísticas</span>
            </div>
            <div class="hc4-benefits-item">
              <img src="/assets/icons/check.svg">
              <span class="hc4-text">Gerar PDF das combinações</span>
            </div>
          </div>
        </div>
        <button class="primary-button hc4-button" [disabled]="true">Seu plano atual</button>
      </div>
      <div class="hc4-card large-card">
        <div>
          <div class="hc4-card-title-content">
            <span class="hc4-card-title">Premium</span>
            <div class="hc4-card-title-box">
              <img src="/assets/icons/star.svg">
              <span class="hc4-card-box-text">Popular</span>
            </div>
          </div>
          <div class="hc4-card-value-content">
            <span class="hc4-card-value-info">12x</span>
            <span class="hc4-card-value">R$20</span>
            <span class="hc4-card-value-info">/ Mês ou R$120 no pix</span>
          </div>
          <div class="hc4-benefits">
            <div class="hc4-benefits-item">
              <img src="/assets/icons/check.svg">
              <span class="hc4-text">Geração de até <strong>10.000</strong> combinações, sendo até 200/vez no App Mega Sem Segredo</span>
            </div>
            <div class="hc4-benefits-item">
              <img src="/assets/icons/check.svg">
              <span class="hc4-text">Dicas</span>
            </div>
            <div class="hc4-benefits-item">
              <img src="/assets/icons/check.svg">
              <span class="hc4-text">Estatísticas</span>
            </div>
            <div class="hc4-benefits-item">
              <img src="/assets/icons/check.svg">
              <span class="hc4-text">Gerar PDF das combinações</span>
            </div>
            <div class="hc4-benefits-item">
              <img src="/assets/icons/check.svg">
              <span class="hc4-text">Permite o envio de volantes preenchidos por e-mail</span>
            </div>
            <div class="hc4-benefits-item">
              <img src="/assets/icons/check.svg">
              <span class="hc4-text">Permite transmitir para o site da Caixa, até 1.000 combinações por mês, via Marca Rápido</span>
            </div>
            <div class="hc4-benefits-item">
              <img src="/assets/icons/check.svg">
              <span class="hc4-text">Participação na Promoção da Virada – Bolão de R$ <strong>1.000,00</strong> para cada grupo 100 assinantes concorrerem ao prêmio milionário de R$ 600 milhões (estimativa) na Mega da Virada.</span>
            </div>
          </div>
        </div>
        <a class="hc4-link" routerLink="/payment-methods"><button class="primary-button hc4-button">Assinar</button></a>
      </div>
      <div class="hc4-card medium-card">
        <div>
          <div class="hc4-card-title-content">
            <span class="hc4-card-title">Compra de créditos</span>
          </div>
          <div class="hc4-card-value-content">
            <span class="hc4-card-value">R$15</span>
            <span class="hc4-card-value-info">/ Valor mínimo </span>
          </div>
          <div class="hc4-benefits">
            <div class="hc4-benefits-item">
              <img src="/assets/icons/check.svg">
              <span class="hc4-text">Geração de até <strong>10.000</strong> combinações/mês, sendo até 200/vez no app Mega Sem Segredo</span>
            </div>
            <div class="hc4-benefits-item">
              <img src="/assets/icons/check.svg">
              <span class="hc4-text">Dicas</span>
            </div>
            <div class="hc4-benefits-item">
              <img src="/assets/icons/check.svg">
              <span class="hc4-text">Estatísticas</span>
            </div>
            <div class="hc4-benefits-item">
              <img src="/assets/icons/check.svg">
              <span class="hc4-text">Gerar PDF das combinações</span>
            </div>
            <div class="hc4-benefits-item">
              <img src="/assets/icons/check.svg">
              <span class="hc4-text">Permite o envio de volantes preenchidos por e-mail</span>
            </div>
            <div class="hc4-benefits-item">
              <img src="/assets/icons/check.svg">
              <span class="hc4-text">Permite transmitir para o site da Caixa, até 50 combinações por mês, via Marca Rápido</span>
            </div>
          </div>
        </div>
        <a class="hc4-link" routerLink="/buy-credit"><button class="primary-button hc4-button">Comprar</button></a>
      </div>
    </div>
  </div>

  <div class="content content-5" id="book">
    <div class="content-info-ilustration hidden-mobile"></div>
    <img class="book-image hidden-mobile" src="/assets/images/book.png" alt="livro loteria sem segredo">
    <div class="content-info">
      <div class="content-info-title">
        <span class="title text-secundary">Livro: </span>
        <span class="title text-primary">Loteria Sem Segredo </span>
        <span class="title text-secundary title-small-weight">- A Matemática Explica</span>
      </div>
      <div class="content-info-ilustration hidden-desktop">
        <img class="book-image" src="/assets/images/book-2.png" alt="livro loteria sem segredo">
      </div>
      <div class="content-info-text">
        <span class="text text-secundary">A obra representa anos de pesquisa dedicada aos
          concursos da Mega-Sena. Apresenta uma compilação de informações matemáticas para
          esclarecer equívocos comuns sobre loterias. Ao mesmo tempo, oferece orientações para
          auxiliar o leitor definir melhor suas estratégias, otimizando  seus recursos em apostas
          mais assertivas.
        </span>
      </div>
      <div class="content-info-footer">
        <span class="small-text text-secundary">Disponível nas principais plataformas:</span>
        <div class="content-logos">
          <a target="_blank" href="https://www.amazon.com.br/Loteria-Sem-Segredo-Matem%C3%A1tica-Explica/dp/6500576675" class="amazon-logo"><img src="/assets/images/amazon.png" alt="logo amazon"></a>
          <a target="_blank" href="https://www.americanas.com.br/produto/7306101728/loteria-sem-segredo?pfm_carac=os-segredos-das-loterias&pfm_index=2&pfm_page=search&pfm_pos=grid&pfm_type=search_page&offerId=649fd6e4579fbc8d91035845" class="americanas-logo"><img src="/assets/images/americanas.png" alt="logo americanas"></a>
          <a target="_blank" href="https://clubedeautores.com.br/books/search?where=books&what=Loteria+sem+segredo+" class="clube-logo"><img src="/assets/images/clube-de-autores.png" alt="logo shopee"></a>
          <a target="_blank" href="https://www.estantevirtual.com.br/busca?utf8=%E2%9C%93&q=Loteria%20Sem%20Segredo%20Adalberto%20Benevides%20J%C3%BAnior" class="estante-logo"><img src="/assets/images/estante-virtual.png" alt="logo shopee"></a>
          <a target="_blank" href="https://www.shoptime.com.br/produto/7306101728/loteria-sem-segredo" class="shoptime-logo"><img src="/assets/images/shoptime.png" alt="logo shoptime"></a>
          <a target="_blank" href="https://www.barnesandnoble.com/w/loteria-sem-segredo-adalberto-benevides-junior/1142871004" class="barnes-logo"><img src="/assets/images/barnes-&-noble.png" alt="logo shopee"></a>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
