<header>
  <img class="header-logo" src="/assets/images/logo.png" alt="logo do mega sem segredo">
  <div class="header-actions">
    <div class="header-actions-items">
      <a href="#about" class="header-actions-item"><span >Sobre o aplicativo</span></a>
      <a href="#book"><span class="header-actions-item">Livro</span></a>
    </div>
    <a routerLink="/register"><button class="primary-button">Cadastre-se</button></a>
  </div>
</header>
<section>
  <div class="content content-1">
    <div class="content-container">
      <div class="content-info">
        <div class="content-info-title">
          <span class="title text-secundary">Já imaginou ganhar na </span>
          <span class="title text-primary">Mega-Sena?</span>
        </div>
        <div class="content-info-elements hidden-mobile">
          <span class="text">Conheça o aplicativo Mega Sem Segredo e descubra como aumentar suas chances de ganhar!</span>
          <a routerLink="/register"><button class="primary-button">Quero ganhar</button></a>
        </div>
      </div>
      <div class="content-info-ilustration">
        <img class="phone-image hidden-desktop" src="/assets/images/phone.png" alt="Mão segurando telefone">
      </div>
      <img class="phone-image hidden-mobile" src="/assets/images/phone-image-2.png" alt="Mão segurando telefone">
    </div>
    <div class="content-info-elements hidden-desktop">
      <span class="text">Conheça o aplicativo Mega Sem Segredo e descubra como aumentar suas chances de ganhar!</span>
      <a routerLink="/register"><button class="primary-button">Quero ganhar</button></a>
    </div>
  </div>
  <div class="content content-2" id="about">
    <div class="content-info-subtitle">
      <span class="subtitle text-secundary">Por que somos a </span>
      <span class="subtitle text-primary">opção ideal para você?</span>
    </div>
    <iframe id="youtubePlayer" width="1100" height="616" src="https://www.youtube.com/embed/RNl86uI0W7E?si=D7KFu5tIpNWYh6RG" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="content content-3" id="book">
    <div class="content-info-ilustration hidden-mobile"></div>
    <img class="book-image hidden-mobile" src="/assets/images/book.png" alt="livro loteria sem segredo">
    <div class="content-info">
      <div class="content-info-title">
        <span class="title text-secundary">Livro: </span>
        <span class="title text-primary">Loteria Sem Segredo </span>
        <span class="title text-secundary title-small-weight">- A Matemática Explica</span>
      </div>
      <div class="content-info-ilustration hidden-desktop">
        <img class="book-image" src="/assets/images/book-2.png" alt="livro loteria sem segredo">
      </div>
      <div class="content-info-text">
        <span class="text text-secundary">A obra representa anos de pesquisa dedicada aos
          concursos da Mega-Sena. Apresenta uma compilação de informações matemáticas para
          esclarecer equívocos comuns sobre loterias. Ao mesmo tempo, oferece orientações para
          auxiliar o leitor definir melhor suas estratégias, otimizando  seus recursos em apostas
          mais assertivas.
        </span>
      </div>
      <div class="content-info-footer">
        <span class="small-text text-secundary">Disponível nas principais plataformas:</span>
        <div class="content-logos">
          <a target="_blank" href="https://www.amazon.com.br/Loteria-Sem-Segredo-Matem%C3%A1tica-Explica/dp/6500576675" class="amazon-logo"><img src="/assets/images/amazon.png" alt="logo amazon"></a>
          <a target="_blank" href="https://www.americanas.com.br/produto/7306101728/loteria-sem-segredo?pfm_carac=os-segredos-das-loterias&pfm_index=2&pfm_page=search&pfm_pos=grid&pfm_type=search_page&offerId=649fd6e4579fbc8d91035845" class="americanas-logo"><img src="/assets/images/americanas.png" alt="logo americanas"></a>
          <a target="_blank" href="https://clubedeautores.com.br/books/search?where=books&what=Loteria+sem+segredo+" class="clube-logo"><img src="/assets/images/clube-de-autores.png" alt="logo shopee"></a>
          <a target="_blank" href="https://www.estantevirtual.com.br/busca?utf8=%E2%9C%93&q=Loteria%20Sem%20Segredo%20Adalberto%20Benevides%20J%C3%BAnior" class="estante-logo"><img src="/assets/images/estante-virtual.png" alt="logo shopee"></a>
          <a target="_blank" href="https://www.shoptime.com.br/produto/7306101728/loteria-sem-segredo" class="shoptime-logo"><img src="/assets/images/shoptime.png" alt="logo shoptime"></a>
          <a target="_blank" href="https://www.barnesandnoble.com/w/loteria-sem-segredo-adalberto-benevides-junior/1142871004" class="barnes-logo"><img src="/assets/images/barnes-&-noble.png" alt="logo shopee"></a>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="footer-container">
    <a href="#"><img src="/assets/images/logo.png" alt="logo mega sem segredo"></a>
    <a href="https://api.whatsapp.com/send/?phone=86994202732&text&type=phone_number&app_absent=0"><span class="text-footer">Suporte Técnico</span></a>
    <a routerLink="/privacy-policy"><span class="text-footer">Políticas de privacidade</span></a>
  </div>
  <div class="text-footer">
    <span class="text-copy">CNPJ: 52.561.540/0001-48 </span>
    <span class="text-copy">Todos os direitos reservados, 2023 - Mega Sem Segredo</span>
  </div>
</footer>
